<!doctype html>
<html>
  <head>
    <title>Smart Templates - {{ title }}</title>
   <!-- LOCAL HEAD.TXT -->

   <!-- META-KEYWORDS BEGIN -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width; user-scalable=0; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0;">
   <!--<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; minimum-scale=1">-->
   <meta name="keywords" content="SmartTemplates, mailheader, customize, e-Mail, modification, quote, html, plain, stationery">
   <meta name="google-site-verification" content="LTKICtodcLDl0nhBl2mUiXWMJbOtmEJmhYXVAqm_mJM" />
   <meta name="description" content="SmartTemplates offers an easy way to customize Thunderbirds, SeaMonkeys and Postboxs default quote header by using templates. Templates can be created for every account as well as for global settings (for all email accounts).">
   <meta name="author" content="Axel Grude, Marky Mark DE">
   <!-- META-KEYWORDS END -->

   <!-- BASICS BEGIN -->
   <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
   <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
   <link rel="apple-touch-icon-precomposed" href="http://smarttemplate4.mozdev.org/img/apple-touch-icon-precomposed-57x57.png">
   <link rel="apple-touch-icon-precomposed" href="http://smarttemplate4.mozdev.org/img/apple-touch-icon-precomposed-72x72.png">
   <link rel="apple-touch-icon-precomposed" href="http://smarttemplate4.mozdev.org/img/apple-touch-icon-precomposed-114x114.png">
   <link rel="apple-touch-icon-precomposed" href="http://smarttemplate4.mozdev.org/img/apple-touch-icon-precomposed-144x144.png">
   <!-- BASICS END -->

   <!-- GLOBAL STYLESHEETS BEGIN -->
   <link rel="stylesheet" type="text/css" media="print" href="/css/print.css">
   <link rel="stylesheet" type="text/css" media="scree, all" href="/css/b-i-f.css">
   <link rel="stylesheet" type="text/css" media="screen" href="/css/media.css">
   <link rel="stylesheet" type="text/css" media="screen, all" href="/css/webFonts.css">
   <link rel="stylesheet" type="text/css" media="screen, all" href="/css/project.css?v=2">
   <link rel="stylesheet" type="text/css" media="screen, all" href="/css/project_nav.css?v=1">   
   <link rel="stylesheet" type="text/css" media="screen, all" href="/css/jqueryPlugins.css?v=3">
   <!--[if lte IE 7]>
   <link rel="stylesheet" type="text/css" media="screen, all" href="/css/ie7.css">
   <![endif]-->
   <!-- GLOBAL STYLESHEETS END -->

   <!-- JQUERY JS FRAMEWORK BEGIN -->
   <!--[if lt IE 9]>
   <script src="/js/modernizr.custom.js" charset="UTF-8"></script>
   <![endif]-->
   <script src="/js/jquery-3.7.1.min.js" charset="UTF-8"></script>
   <script src="/js/jqueryPlugins.js" charset="UTF-8"></script>
   <!-- JQUERY JS FRAMEWORK END -->

   <!-- ADDITIONAL JS BEGIN -->
   <script src="/js/environment.js" charset="UTF-8"></script>
   <script src="/js/scripts.js" charset="UTF-8"></script>
   <script src="/js/navibar.js" charset="UTF-8"></script>
   <script src="/js/ga.js" charset="UTF-8"></script>
   <script src="/js/premium.js?v=13" charset="UTF-8"></script>
   <!-- ADDITIONAL JS END -->

 </head>
<!-- END LOCAL HEAD.TXT -->

<!-- HTML_BODY.HTML -->
<body>

<noscript>
	<div class="msgBox error" id="msgBox_error">
		<h1>Our website requires JavaScript.</h1>
		The instruction how to enable JavaScript in your browser, you can find <a href="http://www.enable-javascript.com/" rel="nofollow" title="How to enable Javascript in your browser" target="_blank">here</a>.
	</div>
</noscript>

<!-- ####################### BEGIN MAIN CONTENT ########################## -->
<div id="main-content-no-nav">
<!-- PROJECT_NAV.HTML -->
<h1 class="project-name" id="content"><img src="/img/logo-pro.png" alt="SmartTemplates"></h1>

 <table id="project-navigation"> 
  <tbody id="resources" class="project-navigations">
   <tr>
    <td class="navigation-list">
     <!-- a class for media query -->
     <a class="index" href="/index.html">Home</a>
     <a class="variables" href="/variables.html">Variable Definitions</a>
     <a class="templates" href="/templates.html?jquery=on">Example Templates</a>
     <a class="screenshots" href="/screenshots.html">Screenshots</a>
     <a class="version" href="/version.html">Version History</a>
     <a class="bugs" href="/kb-main.html">Knowlegebase</a>
     <a class="faq" href="/faq.html">FAQ</a>
     <a class="bugs" href="/bugs.html">Bugs &amp; Features</a>
     <a class="premium" href="/premium.html">Premium Features</a>
     <a class="contribute" href="/contribute.html">Licenses</a>
     <a class="gdpr" href="/gdpr.html">GDPR + Impressum</a>
    </td>
		<tr id="navKB">
		 <td class="kb-nav-list navigation-list">
			 <a class="kb-nav" href="/kb-basics.html">HTML Basics</a>
			 <a class="kb-nav" href="/kb-fonts.html">Fonts</a>
			 <a class="kb-nav" href="/kb-tags.html">General Tips</a>
			 <a class="kb-nav" href="/kb-inspector.html">Troubleshooting Styles</a>
			 <a class="kb-nav" href="/support.html">Add-on Troubleshooting</a>
		 </td>
		</tr>
   </tr>
 </tbody>
</table>
<!-- END PROJECT_NAV.HTML -->
