/** STYLES FOR THE MODELESS message window smarteTemplate-msg.xul ****/
#titleBox {
  background-image: url("chrome://smartTemplate4/skin/logo.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  width: 320px;
}

#messageCanvas {
	background-position: top right;
	background-repeat: no-repeat;
	background-image: url("chrome://smartTemplate4/skin/icons/large/ST4-icon-128.png");
	max-width: 850px;
	min-width: 200px;
	min-height: 200px;
	width: 100%;
}

/* remove default buttons, we add our own */
.dialog-button-box {
	display: none;
}

#ok, #cancel, #yes, #no {
	font-size: 12pt;
}

#innerMessage {
	background: -moz-linear-gradient(top, rgba(226,226,226,0.7) 0%, rgba(219,219,219,0.7) 50%, rgba(209,209,209,0.7) 51%, rgba(254,254,254,0.7) 100%);
	border-radius: 1em;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	font-size: 12pt;
	min-height: 5em;
	min-width: 300px;
	margin: 1em 3em 1.5em;
	padding: 1em 2em;
	width: 80%;
	-moz-box-orient: vertical;
}

#innerMessage p, #innerMessage br {
	display: block;
	line-height: 1.2em;
}
#innerMessage p {
	text-align: justify;
	color: rgb(2,2,2) !important;
	text-shadow: 1px 1px 1px rgba(220, 220, 220, 0.7);
	margin-bottom: 0.6em;
	max-width: 850px;
}