@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.NewTab,.RespondTab,.ForwardTab,
#fieldsTab, #settingsTab, #aboutTab, #templatesTab  {
  cursor: pointer;
  -moz-appearance: none !important;
}

/* make sure button icons are visible */
.buttonIcon > .box-inherit > .button-icon {
  display:  -moz-box;
}

/*
#btnAdvanced .button-icon,
#btnCloseAdvanced .button-icon {
  display: inline-block;
}
*/