/* ################################################################################### */
/* ############################# TOOLBAR BUTTON OVERLAY ############################## */
/* ################################################################################### */
#SmartTemplate4Button,
#mail-toolbox > toolbar[brighttext] #SmartTemplate4Button.toolbarbutton-1
{
  list-style-image: url("chrome://smartTemplate4/skin/icons/icon24x24.png");
}

[iconsize="small"] #SmartTemplate4Button,
#mail-toolbox > toolbar[brighttext][iconsize="small"] #SmartTemplate4Button.toolbarbutton-1
{
  list-style-image: url("chrome://smartTemplate4/skin/icons/icon16x16.png");
}

/* avoid the 'squashed' look in Nuvola */
toolbar:not([iconsize="small"]) #SmartTemplate4Button image
{
  width: 24px;
  height: 24px;
}

/* ################################################################################### */
/* ################################ STATUSBAR OVERLAY ################################ */
/* ################################################################################### */

/* ################################## ICON BINDINGS ################################## */
#SmartTemplate4Messengercompose, #SmartTemplate4Messenger {
  list-style-image: url("chrome://smartTemplate4/skin/icons/icon16x16.png") !important;
}
/* ############################# SPACE BETWEEN LABEL&ICON ############################ */
#SmartTemplate4Messenger label 
{
	margin-left: 0.313em !important;
	max-width : 350px;
	width:auto;
}

#SmartTemplate4Messenger.always:not(:hover) label
{
	width: auto !important;
}


#SmartTemplate4Messenger:not(:hover):not(.always) label,
#SmartTemplate4Messenger.hidden label,
#SmartTemplate4Messenger.hidden:hover label
{
	width: 0 !important;
	max-width: 0 !important;
	display: none;
}

#SmartTemplate4Messenger:not(:hover):not(.always):not(.hidden)
/* padding instead margin for Noia eXtreme Theme */
{
	padding-left: 6px;
	padding-right: 6px;
}
