/* ----------------------------------------------------------------------------------- */
/* ---------------------------- create by Marky Mark DE ------------------------------ */
/* ---------------------------- last edit at 06/18/2012 ------------------------------ */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------- Changelog ------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* 1.0.0: new formatting all content over css */
/* some formating works only as class e.g. inside an Tab which changes */
/* the content by switching another Identity, as ID it lost by change the formate */
/* ----------------------------------------------------------------------------------- */

/* ################################################################################### */
/* ############################ MENUBAR & RIGHTCLICK MENU ############################ */
/* ################################################################################### */

#SmartTemplate4MenuBar {
 border:0px;
}
/* ################################## ICON BINDINGS ################################## */
#SmartTemplate4CloseItem {
  list-style-image: url("chrome://smartTemplate4/skin/CuteMenus/close.png") !important;
}
#SmartTemplate4ExportMenuitem {
  list-style-image: url("chrome://smartTemplate4/skin/CuteMenus/export.png") !important;
}
#SmartTemplate4ExportItem {
  list-style-image: url("chrome://smartTemplate4/skin/CuteMenus/icon16x16.png") !important;
}
#SmartTemplate4ImportMenuitem {
  list-style-image: url("chrome://smartTemplate4/skin/CuteMenus/import.png") !important;
}
#SmartTemplate4ImportItem {
  list-style-image: url("chrome://smartTemplate4/skin/CuteMenus/icon16x16.png") !important;
}
#menuHomePage {
  list-style-image: url("chrome://smartTemplate4/skin/CuteMenus/mozilla.png") !important;
}
#menuSupportPage, #menuBugsAndFeaturesPage {
  list-style-image: url("chrome://smartTemplate4/skin/CuteMenus/mozdev.png") !important;
}
#helpStationery {
  -moz-appearance: none !important;
  background-image: url("chrome://smartTemplate4/skin/icons/fugue-question.png");
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 3px;
  width: 16px !important;
  min-width: 22px;
}

/* our own buttons */

.buttonLinks button.text-link {
	min-width: 25em;
}

button.text-link {
	-moz-appearance: none !important;
	color: #ffffff !important;
}

/* fix noia buttonbox styling */
button.text-link, button.dialog-button[dlgtype=extra2] {
	background-image: none;
}
button.text-link hbox.button-box,
button.dialog-button[dlgtype=extra2] hbox.button-box {
	background-image: none !important;
}

button.text-link[href] > * {
	text-decoration: underline !important;
	color: #ffffff !important;
}

button.text-link {
	color: #ffffff !important;
	display: inline-block;
	border: 1px solid rgb(100,120,120);
	text-shadow:#BBBBBB 0px 0px 2px;
	padding: 1px 1px !important;
	margin-top: 0.3em !important;
	margin-bottom: 0.3em !important;
	max-width: 22em;
	vertical-align: middle !important;
}

button.text-link hbox {
	padding: 3px !important;
}

button.text-link:hover {
	margin-top: 0.35em !important;
	margin-bottom: 0.25em !important;
	color: #FFFFFF !important;
}

.text-link label {
	margin-left: 0.2em;
}
.homePageURL, .homePageURL:focus {
	/* list-style-image: url("chrome://smartTemplate4/skin/icons/icon16x16.png") !important; */
	color: #ffffff !important;
}

.homePageURL:hover, .homePageURL:hover:focus {
	text-shadow: rgba(100, 0, 100, 0.8) 0px 0px 2px;
	color: #ffaaff !important;
}

.supportURL, .supportURL:focus {
	text-decoration: underline;
	color: #ffffff !important;
}
.supportURL:hover, .supportURL:focus:hover {
	text-decoration: underline;
	text-shadow: rgba(100, 50, 0, 0.8) 0px 0px 2px;
	color: #006600 !important;
}

.bugsURL, .bugsURL:focus {
	text-decoration: underline;
	color: #ffffff !important;
}
.bugsURL:hover, .bugsURL:focus:hover {
	text-decoration: underline !important;
	text-shadow: rgba(100, 50, 0, 0.8) 0px 0px 2px !important;
	color: #ffffaa !important;
}

.stationeryURL, .stationeryURL:focus,
#btnUpdateThunderbird {
	-moz-appearance: none !important;
    border: 1px solid rgb(187, 204, 238) !important;
	color: #ffffff;
    text-shadow: 0px 0px 3px rgba(230, 230, 255, 0.9);
}
#btnUpdateThunderbird {
	padding: 0.5em;
	font-size: 15pt;
}

.bugsURL:hover, .bugsURL:focus:hover {
	text-decoration: underline;
	text-shadow: rgba(100, 50, 0, 0.8) 0px 0px 2px;
}


/* highlight keyboard focus */
button.homePageURL:focus,
button.supportURL:focus,
button.bugsURL:focus {
	border: 2px solid #666 !important;
}


#SmartTemplate4RightClickCopyItem {
  list-style-image: url("chrome://smartTemplate4/skin/CuteMenus/copy.png") !important;
}

#SmartTemplate4HelpMenuitem { float: right; }

/* ################################################################################### */
/* ###################################### GUI ######################################## */
/* ################################################################################### */

/* ############################## SELECTED IDENTITY ################################## */
/* or #SmartTemplate_prefDialog .identity-menulist */

#smartTemplate_prefDialog {
	width: 550px;
	min-height: 400px;
}

/*  MAIN CONTAINERS: LEFT, RIGHT */
#topOptions, #bottomOptions 
{ height: 5px ; 
}
#bottomOptions { bottom: 0; }
#optionsContainer {
	-moz-box-align: stretch;
	height: 100%;
}

#decksContainer {
	height: 99%;
	-moz-box-align: stretch;
}
#decksWrapper { 
	height: 99%; 
	-moz-box-align: stretch;
}

#advancedContainer {
	height: auto;
	margin-left: 1em;
	margin-right: 1em;
}

.templateDeck {
	min-width: 550px;
}

#account_deckA {
	max-width: 1000px;
}


#globalSettings
{
	width: 100%;
	background-image: url(chrome://smarttemplate4/skin/icon128x128.png);
	background-repeat: no-repeat;
	background-position: center center;
	/* background-size: 200px; */
}

#fontBox {
	margin: 2em 0em 1em 1em;
}

#lblFontSettings {
	margin-top: 0.8em;
	vertical-align: middle;
}

#fontSmaller, #fontLarger {
	font-weight: 900;
	font-family: "Arial Black", Arial;
	color: rgb(0, 20, 80);
	text-shadow: 1px 1px 0px rgba(250, 250, 250, 0.9); 
	min-height: 22px;
	height: 28px !important;
	width: 30px !important;
	min-width: 30px !important;
} 

#fontSmaller {
	font-size: 8pt;
	margin-right: 0;
}

#fontLarger {
	font-size: 12pt;
	margin-left: 2px;
	padding-top: 0px;
}

#txtFontSize {
	text-align: center !important;
	width: 2em;
	margin-left: 1em;
}

#breaksBox {
	margin: 2em 0em 1em 1em;
}
#txtBreaks
{
	width: 3em;
}
#txtBreaksLabel {
	margin-top: 5px;
}

#aboutPanel {
	max-width:430px;
}


/* ########################## CONTENT IDENT. SELECT POPUP ############################ */
#smartTemplate_prefDialog #msgIdentityPopup menuitem {

}

/* ################################## TEXTBOXES ###################################### */
#smartTemplate_prefDialog .indent textbox:not(.templateBox) {
  font-size: 10pt;
}

/* ############################### DeckB Description ################################# */
.SmartTemplate4DeckBDesc {
  font-size: 11pt !important;
  display: block;
  margin-left: 30px;
}


/* ################################################################################### */
/* ##################################### BUTTONS ##################################### */
/* ################################################################################### */

.AccountmanagerButton {
  cursor: pointer;
  font-size: 10pt !important;
}

/* ############################# SPACE BETWEEN LABEL&ICON ############################ */
#SmartTemplate4AccountmanagerButton label {
  margin-left: 5px !important;
}

/* ################################## ICON BINDINGS ################################## */
#SmartTemplate4AccountmanagerButton {
  list-style-image: url("chrome://smartTemplate4/skin/icons/configure.png") !important;
}


#smartTemplatePane {
	padding: 0;
	margin: 0;
}

/* ################################################################################### */
/* ####################################### TABS ###################################### */
/* ################################################################################### */

/* editboxes for templates */
.templateBox {
	background: rgba(255, 255, 255, 0.5);
	color: #000000;
	text-shadow: 1px 1px 1px rgba(250, 250, 250, 0.9);
	width: auto;
	min-width: 400px;
	max-width: 1000px;
	font-family: consolas,"courier new",monospace;
	font-size: 9pt;
	min-height: 100px;
}

.actionTabs > tab .tab-middle {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

.NewTab,.RespondTab,.ForwardTab,
#fieldsTab, #settingsTab, #aboutTab  {
  cursor: pointer;
  -moz-appearance: none !important;
}


/* ############################ SPACE BETWEEN LABEL&ICON ############################# */
/* Space between label and Icon in our Tabs */
.NewTab label,.RespondTab label,.ForwardTab label,
#fieldsTab label, #settingsTab label, #aboutTab label {
  margin-left:5px !important;
}

/* ################################## ICON BINDINGS ################################## */
/* Icon Binding in the decked (multiple) tabs is only possible over class! */

/** left hand tabs **/
.NewTab {
  list-style-image: url("chrome://smartTemplate4/skin/icons/mail-new.png") !important;
}
.RespondTab {
  list-style-image: url("chrome://smartTemplate4/skin/icons/mail-reply.png") !important;
}
.ForwardTab {
  list-style-image: url("chrome://smartTemplate4/skin/icons/mail-fwd.png") !important;
}

/** right hand tabs **/
#fieldsTab {
  list-style-image: url("chrome://smartTemplate4/skin/icons/variable.png") !important;
}
#settingsTab {
  list-style-image: url("chrome://smartTemplate4/skin/icons/global.png") !important;
}
#aboutTab {
  list-style-image: url("chrome://smartTemplate4/skin/icons/info.png") !important;
}

.newGroup, .forwardGroup , .replyGroup, .aboutGroup {
	background-position: top right;
	background-repeat: no-repeat;
}
.newGroup {
	background-image: url("chrome://smartTemplate4/skin/icons/large/mail_new.png");
}

.forwardGroup {
	background-image: url("chrome://smartTemplate4/skin/icons/large/mail_forward.png");
}

.replyGroup {
	background-image: url("chrome://smartTemplate4/skin/icons/large/mail_replay.png");
}
.aboutGroup {
	background-image: url("chrome://smartTemplate4/skin/icons/large/ST4-icon.png");
}

#btnAdvanced {
	list-style-image: url("chrome://smartTemplate4/skin/icons/arrow-right.png") !important;
}
#btnCloseAdvanced {
	list-style-image: url("chrome://smartTemplate4/skin/icons/arrow-left.png") !important;
}

.pasteFocus {
	padding-right: 13px;
}

.pasteFocus.hasFocus {
	background-image: url("chrome://smartTemplate4/skin/icons/arrow-left.png") !important;
	background-repeat: no-repeat;
	background-position: right 5px;
}


.buttonIcon label {
 margin-left: 0.313em !important;
}


/* ################################################################################### */
/* ####################################### CAPS ###################################### */
/* ################################################################################### */


/* ############################# SPACE BETWEEN LABEL&ICON ############################ */
/* Space between label and Icon in Caps inside tabs only over class possible! */
.NewMsgCap label,.RspMsgCap label,.FwdMsgCap label,.AboutCap label,.AccountCap label,
.AccountmanagerCap label {
  margin-left: 5px !important;
}



/* ################################################################################### */
/* ################################# About Tab CONTENT ############################### */
/* ################################################################################### */


.aboutPanel, .aboutGroup {
	max-width:70em;
}

#versionBox {
	border: 1px solid rgba(200,225,250,0.9);
	color: #EEEEEE;
	display: inline-block;
	padding: 0.3em 0.6em !important;
	text-align: center;
	vertical-align: top;
	max-height: 2em;
	cursor: pointer;
}


#versionBox:hover {
	color: #FFFFFF;
}



/* ##################################### ABOUTLOGO ################################### */
/* Icon Binding inside tab only over class possible! */

#SmartTemplate4AboutLogo {
  background-image: url("chrome://smartTemplate4/skin/logo.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 250px;
  min-height: 45px;
  text-align: right;
}



/* ################################## AboutDeveloper ################################# */
.aboutPersonnel description {
  font-weight: bold;
  text-align: center;
  color: #ffffff; /* #ffffff for TT DeepDark Theme */
  text-shadow: #000000 1px 1px 1px; /* #000000 for TT DeepDark Theme */
}

.aboutWrapper {
	text-align: center;
	padding: 1em;
	width:100%;
}

.aboutPersonnel {
  font-size: 10pt;
  line-height: 10pt;
	border: 1px solid #CCCCCC;
	max-width: 60em;
	min-height: 8em;
	vertical-align: middle;
	padding: 1em;
/*	overflow-y:auto; overflow-x:auto	*/

}
/* ############################## SmartTemplate4AboutDesc ############################ */
.aboutContent  {
  font-size: 9pt;
  display: block;
  margin-top: 0.5em;
}

/* ################################################################################### */
/* ################################ Help Iframe CONTENT ############################## */
/* ################################################################################### */

/* ####################################### BODY ###################################### */
.help, h1, h2, aside, li,
.aboutPersonnel 
{
  font-family: Calibri, Helvetica,'Segoe UI', Verdana, Geneva, sans-serif;
}

.help {
  font-size: 9pt;
  display: block;
  background: rgb(208,228,247);
	border-left: #ccc 1px;
	border-right: #ccc 1px;
	font-size: 10pt;
	min-height: 950px;
  padding: 5px 10px;
}

.help ul {
	margin-bottom: 1.8em;
	margin-top: 0.2em;
	padding-left: 0;
}
.help ul li {
  list-style-image: none;
  list-style-type: none;
}

/* ################################ CHAPTER (HEADLINES)  ############################# */
h1.helpchapter {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  color: #ffffff; /* #ffffff for TT DeepDark Theme */
  text-shadow: #000000 1px 1px 1px; /* #000000 for TT DeepDark Theme */
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  padding: 4px 0px;
}

/* ############################# HTML TAG ASIDE (BELOW CHAPTER) ######################### */
aside {
  display: block;
  font-weight: normal;
  font-size: 10pt !important;
  /* font-style: italic; */ /* its kind of ugly having italics everywhere... */
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0px 0px 4px;
}

/* ##################################### HTML TAG b  ################################# */
b {
  font-style: italic;
  font-weight: bolder;
}

/* #################################### HTML TAG CODE ################################ */
/* note: code looks best in a fixed width font - MS standard nowadays is consolas! */
#keywords code, code {
  border: 1px solid #bbb;
  margin: 2px 4px 2px 0px;
  cursor: pointer;
  display: inline-block;
  font-family: Consolas, 'Courier New', Geneva, sans-serif;
  font-size: 10pt !important;
  padding: 2px 4px;
}

table div.yes, table div.no {
	list-style-position: inside;
	display: list-item;
}
table div.yes {
	list-style-image:  url("chrome://smartTemplate4/skin/icons/enabled.png");
}
table div.no {
	list-style-image:  url("chrome://smartTemplate4/skin/icons/disabled.png");
}

/* #################################### TABLE FOR VARS ############################### */
#keywords {
  border: 0;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tr-keywords td {
  font-size: 11pt !important;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #808080;
  padding: 0;
}

/* ################################## SCREENSHOT CLASS ############################### */
.screenshot_help {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* ################################## SMALL ICON CLASS ############################### */
.small_icon {
  height: 16px;/*max 16px */
  width: 16px; /*max 16px */
  margin-right: 3px;
}

/* ############################## CHECKMARK & X IN VARTABLE ########################## */
.no {
  color: #ff0000;
  font-size: 13pt !important;
  text-shadow: #000000 1px 1px 1px;
}
.yes {
  color: #7cfc00;
  font-size: 13pt !important;
  text-shadow: #000000 1px 1px 1px;
}


/* ################################################################################### */
/* ################################ STATUSBAR OVERLAY ################################ */
/* ################################################################################### */

.statusbarpanel-iconic-text {
  font-weight: bold;
  font-size: 10pt !important;
}

/* ############################### HOVER,ACTIVE & FOCUS ############################## */
.statusbarpanel-iconic-text:hover {
  cursor: pointer;
}

/* ############################ SPACE BETWEEN LABEL&ICON ############################# */
.statusbarpanel-iconic-text label {
  margin-right: 5px !important;
}

/* right hand panels widths */
#helpFrame, #advancedContainer, #aboutPanel 
{
	min-width: 400px;
}


/* #### help frame  #### */
#helpFrame {
	min-height: 300px;
	height: auto;
}

/* ############################     CONTRIBUTE BUTTON      ############################# */

button.dialog-button[dlgtype=extra2] {
	background-color: rgb(241,116,50) !important;
}
.dialog-button[dlgtype=extra2]
{
	-moz-appearance: none;
	color: #fff;
	font-weight: bold;
	border: 1px solid #fff;
	background: rgb(254,204,177);
}

.dialog-button[dlgtype=extra2]:hover
{
	/* margin: 1px -1px -1px 1px; */
	background: rgb(254,222,178);
}

.dialog-button[dlgtype=extra2]:active
{
	/* margin: 1px -1px -1px 1px; */
	background: rgb(254,222,178);
}



