@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.NewTab,.RespondTab,.ForwardTab,
#fieldsTab, #settingsTab, #aboutTab, #templatesTab, #advancedSettingsTab  {
  cursor: pointer;
  -moz-appearance: none !important;
}

/* make sure button icons are visible */
.buttonIcon > .box-inherit > .button-icon {
  display:  -moz-box;
}

.buttonLinks > button {
  height:1.8em;
}

/* fix "cut off descriptions" bug in Linux */
#globalSettingsVbox, #advancedSettingsVbox {
  overflow-y: inherit !important;
  overflow-x: visible !important;
}

#rightPane tabpanel, #aboutPanel {
  min-width: unset !important;
  max-width: unset !important;
  margin-right:0;
}

/*
#btnAdvanced .button-icon,
#btnCloseAdvanced .button-icon {
  display: inline-block;
}
*/