

/* horizontal alignment */
.hbox {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: row;
}

.hbox.opposite-align {
  flex-direction: row-reverse;
}

fieldset.multiCol {
  column-gap: 1.5em;
}

select {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  line-height: 1.6em !important;;
}

#btnPasteLicense,
#btnValidateLicense {
  font-size: 0.85em;
}

/* vertical alignment */
.vbox {
  /* 1px dotted rgba(255,255,0,0.8)*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.vbox.centered {
  justify-content: center;
}

.vbox .separator,
.vbox .spacer {
  height: 10px;
}

.hbox .spacer {
  width: 10px;
}

.hbox.align_center {
  align-items: center;
}

prefpane h2 {
  color: color-mix(in srgb, currentColor 60%, transparent);
}


fieldset {
  margin: 0.5em;
  padding: 0 0.5em 0.7em;
  border-style: solid !important;
}

fieldset legend {
  margin-top: 0.3em;
  font-size: 1em;
  padding-left: 4px;
  padding-right: 4px;
}

html|legend {
  margin-top: 0.5em;  
}

*[collapsed=true] {
  display: none !important;
}

/* General elements */
prefpane label {
  display: flex;
  align-items: center;
  flex-direction: row;  
  justify-content: left;
}

#supportgrid .button label {
  justify-content: center;
  font-size: 1.05em;
}

/* style buttons with images: */
button[isTab] {
  display: list-item;
  list-style-position: inside;
}

/* images on buttons: */
button.active,
button.active::marker {
  fill: white !important; /* not working yet - forcing the icon to be white */
  stroke: white;
}

 /* Style the tab */
.tabs {
  border-bottom: 3px solid var(--selected-item-color) !important;
}

.tabs ul {
  margin: 0;
  overflow: hidden;
  padding-left: 1px;
}

/* Style the buttons that are used to open the tab content */
.tabs li {
  background-color: inherit;
  border: none;
  cursor: pointer;
  float: left;
  list-style: none;
  outline: none;
}

.tabs button {
  appearance: none;
  border-radius: 0.5em 0.5em 0 0;
  min-width: unset;
  margin-bottom: 0px;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: var(--selected-item-color) !important;
  color: #FFFFFF !important;
}

/* Style the tab content */
.tabcontent-container section {
  display: flex;
  border-top: none;
  flex-direction: column;
  visibility: collapse;
} 

.qfTabPreview {
  line-height: unset;
  overflow: clip;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* right-click / tooltip support */
.hasConfigEvent:hover {
  background: rgba(255,0,0,0.2);
  outline: 1px dotted rgba(85,0,0,0.5);
  border-radius: 3px;
}

input[type=number] {
  text-align: right;
  min-height: 22px;
}

input[type=color], select {
  min-height: 26px;
}

.pixelAppendix {
  margin-right: 5px;
  margin-left: 0px;
}


/* micro toolbars */
.inlineToolbar .toolbarbutton-1 {
  width: 24px;
  max-width: 24px;
  min-width: unset !important;
}

#smartTemplatePane #templateTools button {
  background-repeat: no-repeat !important;
  background-position: center center;
}


