@media (prefers-color-scheme: dark) {
  :root {
    --hovercolor: #113e6a;
    --hoverbackground: #ffffffcb;
    --selectedbackground:#1d3e7dad;
    --clickedbackground:var(--selectedbackground);
    --selectedcolor: #FFFFFF;
    --activecolor: #a5f7fcd9;
    --configColor: rgba(250,40,80, 0.85);
		--grayedcolor: rgba(250,250,250,0.6);
		--focusbackcolor: rgb(81, 5, 16);
		--focuscolor: lightpink;
  }  
}

@media (prefers-color-scheme: light) {
  :root {
    --hovercolor: #ffffffcb;
    --hoverbackground: #113e6a;
    --selectedbackground: #1d3e7dad;
    --clickedbackground:var(--selectedbackground);
    --activecolor: #FFFFFF;
    --configColor: rgb(140,0,0);
		--grayedcolor: rgba(10,10,10,0.6);
		--focusbackcolor: lightpink;
		--focuscolor: rgb(137, 11, 11);
  }
}


p.disclaimer {
  background: #5c1212;
	bottom:0;
	border-radius: 0.7em 0.7em 0 0;
	opacity: 0.6;
  color: #ffd8a6;
  font-weight: bold;
	font-size: 0.9em;
  padding: 0.1em 0.5em;
	position: fixed;
	left: 20px;
	right: 20px;
	text-align: center;
}

p.disclaimer label {
	display: inline-block;
	margin-inline: auto;
	text-align: center;
}

.disclaimer .closeButton.closeButton {
	border-radius: 0.3em;
	background: rgba(40,40,40,0.5);
	border: 1px rgba(240,240,240,0.4) solid;
	padding: 0 4px 2px 4px;
	color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.2em;
	float: right;
	margin-left:auto;
	margin-right: 0.2em;
}
.disclaimer.closeButton:float {
	background: rgba(40,40,40,0.3);
	border: 1px rgba(240,240,240,0.6) solid;
}
.disclaimer label a {
  color: white;
}
.disclaimer label a:hover {
  color: yellow;
}

#globalSettingsVbox label,
#advancedSettingsVbox label {
	line-height: 1.5em;
}

prefpane h2 {
	padding-inline: 0.3em;
}

/* REPLACEMENTS 
chrome://smartTemplate4 => ../chrome !! 
.toolbarbutton-1  => iconButton
list-style-image => background-image
tabpanels => .tabcontent-container
*/

button.iconButton {
  background-repeat: no-repeat !important;
  background-position: center center;
  min-width: unset;
}

button.iconLabelButton {
  background-repeat: no-repeat !important;
  background-position: 4px center;
	padding: 3px 3px;
}

button.iconLabelButton span {
	margin-left: 20px;
	font-size: 0.85em;
}

button.iconLabelButton.youtube span {
	margin-left: 24px;
}


#helpTemplates, #helpSnippets {
	/* -moz-context-properties: fill; */
	fill: currentColor;
  background-image: url("../chrome/content/skin/icons/help.svg") !important;
  /* padding-left: 0 !important;
     padding-right: 0 !important; */
}

/* custom buttons linking to website */
.buttonLinks button {
	cursor: pointer;
}

.buttonLinks button.text-link {
	min-width: 25em;
	padding-block: 0.8em !important;
	padding-inline: 1.5em !important;
}

button.text-link {
	appearance: none !important;
	color: #ffffff !important;
}

button.text-link, button.dialog-button[dlgtype=extra2] {
	background-image: none;
}
button.text-link hbox.button-box,
button.dialog-button[dlgtype=extra2] hbox.button-box {
	background-image: none !important;
}

button.text-link[href] > * {
	text-decoration: underline !important;
	color: #ffffff !important;
}

button.text-link {
	color: #ffffff !important;
	border: 1px solid rgb(100,120,120);
	text-shadow :#BBBBBB 0px 0px 2px;
	padding: 1px 1px !important;
	margin-top: 0.3em !important;
	margin-bottom: 0.3em !important;
	max-width: 36em;
}

button.text-link hbox {
	padding: 3px !important;
}

button.text-link:hover {
	margin-top: 0.35em !important;
	margin-bottom: 0.25em !important;
	color: #FFFFFF !important;
}


.text-link label {
	margin-left: 0.2em;
}
.homePageURL, .homePageURL:focus {
	color: #ffffff !important;
}

.homePageURL:hover, .homePageURL:hover:focus {
	text-shadow: rgba(100, 0, 100, 0.8) 0px 0px 2px;
	color: #ffaaff !important;
}

.supportURL, .supportURL:focus {
	text-decoration: underline;
	color: #ffffff !important;
}
.supportURL:hover, .supportURL:focus:hover {
	text-decoration: underline;
	text-shadow: rgba(100, 50, 0, 0.8) 0px 0px 2px;
	color: #006600 !important;
}

.bugsURL, .bugsURL:focus {
	text-decoration: underline;
	color: #ffffff !important;
}
.bugsURL:hover, .bugsURL:focus:hover {
	text-decoration: underline !important;
	text-shadow: rgba(100, 50, 0, 0.8) 0px 0px 2px !important;
	color: #ffffaa !important;
}


.bugsURL:hover, .bugsURL:focus:hover {
	text-decoration: underline;
	text-shadow: rgba(100, 50, 0, 0.8) 0px 0px 2px;
}

/* highlight keyboard focus */
button.homePageURL:focus,
button.supportURL:focus,
button.bugsURL:focus {
	border: 2px solid #666 !important;
}


.supportURL, .supportURL:focus {
	background-image: linear-gradient(to bottom , rgb(100, 154, 174) 0%, rgb(79, 160, 181) 33%, rgb(43, 142, 169) 51%, rgb(47, 178, 217) 100%) !important;
}
.supportURL:hover, .supportURL:focus:hover {
	background-image: linear-gradient(to bottom , rgb(149, 234, 237) 0%, rgb(71, 221, 223) 24%, rgb(9, 179, 181) 50%, rgb(44, 215, 218) 79%, rgb(88, 223, 226) 100%) !important;
}
.bugsURL, .bugsURL:focus {
	background: linear-gradient(to bottom, rgba(253,52,45,1) 0%, rgba(175,7,1,1) 23%, rgba(158,5,0,1) 51%, rgba(230,12,4,1) 100%) !important;
}
.bugsURL:hover, .bugsURL:focus:hover {
	background: linear-gradient(to bottom, rgba(249,185,183,1) 0%, rgba(241,22,15,1) 31%, rgba(227,8,1,1) 51%, rgba(231,111,107,1) 100%) !important;
}
.homePageURL, .homePageURL:focus {
	background: linear-gradient(to bottom, rgba(166,108,182,1) 0%, rgba(156,86,170,1) 50%, rgba(121,27,135,1) 51%, rgba(179,76,190,1) 100%) !important;
}
.homePageURL:hover, .homePageURL:hover:focus {
	background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%) !important;
}


#middleSpace {
	color: rgba(10,10,10,0.4);
	text-align: center;
	font-style: italic;
	flex-grow: 1;
	align-content: center;
}


@media only screen and (max-height: 475px)  {
	#middleSpace {
		display: none;
	}
}

.disclaimer {
	display: none;
}

 /****
  REPLACEMENTS
	groupbox                            =>   fieldset
	hbox.groupbox-title                 =>   legend
	hbox.groupbox-title label.header    =>   legend
	menupopup                           =>   select
  menuitem                            =>   option

	**/

 #globalSettings {
	width: 100%;
	background-image: url("../chrome/content/skin/icon128x128.png");
	background-repeat: no-repeat;
	background-position: 92% 2%;
}

#fontSmaller {
	background-image: url("../chrome/content/skin/icons/edit-size-down.png") !important;
}

#fontLarger {
	background-image: url("../chrome/content/skin/icons/edit-size-up.png") !important;
}

#lblFontSettings {
	margin-top: 0.7em;
	vertical-align: middle;
}

#fontSmaller, #fontLarger {
  appearance: none;
  background-image: linear-gradient(to top, #E9E9E9 30%, #FAFAFA 50%); 
	box-shadow: #333 0px 0px 3px;
	margin-top: 5px;
	height: 20px;
	min-height: 10px;
	width: 35px !important;
	min-width: 25px !important;
	cursor: pointer;
} 
#fontSmaller label, #fontLarger label {
  display:none;
}
#fontSmaller:hover, #fontLarger:hover {
	border: 1px solid #49C0E7; 
}
#fontSmaller {
	margin-right: 0;
}
#fontLarger {
	margin-left: 2px;
}
#fontButtonSpacer {
  width: 2px;
}

#txtFontSize {
	margin-top: 7px;
	text-align: center !important;
	width: 2em;
	margin-left: 1em;
}
#txtBreaks {
	width: 3em;
}
.textboxLabel {
	margin-top: 5px;
}
.labeledBox {
	margin-left: 0.5em;
}

/* ##########################M MULTILINE TEXTBOXES ################################## */
#smartTemplate_prefDialog .indent textbox:not(.templateBox) {
  font-size: 10pt;
}

/* ############################### DeckB Description ################################# */
.SmartTemplate4DeckBDesc {
  font-size: 11pt !important;
  display: block;
  margin-left: 30px;
}

/* this label will be shown on the common account settings instead of the [x] Common checkbox */
#commonSettingsExplainer {
	white-space: normal;
	white-space: normal balance;
  font-size: 1em;
}

/* ################################################################################### */
/* ##################################### BUTTONS ##################################### */
/* ################################################################################### */

.AccountmanagerButton {
  cursor: pointer;
  font-size: 10pt !important;
}

/* ############################# SPACE BETWEEN LABEL&ICON ############################ */
#SmartTemplate4AccountmanagerButton label {
  margin-left: 5px !important;
}

/* ################################## ICON BINDINGS ################################## */
#SmartTemplate4AccountmanagerButton {
  background-image: url("../chrome/content/skin/icons/configure.png") !important;
}

/* use panes for global visibility from new left menu */

.page {
	display: flex; /* was block! */
	flex-direction: column;
	visibility: collapse;
}
.page.pageActive {
	visibility: visible;
	padding: 0;
	margin: 0;
}

#variablesPane {
	height: 100vh;
	flex-shrink: 0 !important;
}
#examplesPane {
	flex-shrink: 0 !important;
}
#helpFrame {
	display: flex;
	flex: 8 8 max-content;
	min-width: 450px;
	height: 92vh;
	width: 70vw;
}


/* ################################################################################### */
/* ####################################### TABS ###################################### */
/* ################################################################################### */

#advancedTabs > tab:not([selected]) label {
  display:none !important;
}

/* ############################ SPACE BETWEEN LABEL&ICON ############################# */
/* Space between label and Icon in our Tabs */
.NewTab label,.RespondTab label,.ForwardTab label,
#fieldsTab label, #settingsTab label, #aboutTab label, #templatesTab label, #advancedSettingsTab label {
  margin-left:5px !important;
}

/* ################################## ICON BINDINGS ################################## */
/* Icon Binding in the decked (multiple) tabs is only possible over class! */

/** left hand tabs **/
.actionTabs button {
	background-repeat: no-repeat;
  background-position: left 0.4em bottom 2px;
  padding-inline-start: 24px;
}

.NewTab {
  background-image: url("../chrome/content/skin/icons/thunderbird/new-msg.svg") !important;
}
.NewTab.active {
  background-image: url("../chrome/content/skin/icons/thunderbird/new-msg-bright.svg") !important;
}

.RespondTab {
  background-image: url("../chrome/content/skin/icons/thunderbird/reply.svg") !important;
}
.RespondTab.active  {
  background-image: url("../chrome/content/skin/icons/thunderbird/reply-bright.svg") !important;
}

.ForwardTab {
  background-image: url("../chrome/content/skin/icons/thunderbird/forward.svg") !important;
}
.ForwardTab.active  {
  background-image: url("../chrome/content/skin/icons/thunderbird/forward-bright.svg") !important;
}

.SnippetsTab {
  background-image: url("../chrome/content/skin/icons/snippets-icon.svg") !important;
}

#fileTemplateContainer select {
	background-position: top 1em right 2em;
	background-repeat: no-repeat;
	background-size: 64px;
}
#fileTemplateContainer select option.overTop {
	border: 2px dotted #666;
	border-top: 3px solid #666;
}
#fileTemplateContainer select option.overBottom {
	border: 2px dotted #666;
	border-bottom: 3px solid #666;
}



#new-fileTemplates select {
  background-image: url("../chrome/content/skin/icons/thunderbird/new-msg.svg") !important;
/*	filter: contrast(20%) ; */
}
#rsp-fileTemplates select {
  background-image: url("../chrome/content/skin/icons/thunderbird/reply.svg") !important;
}
#fwd-fileTemplates select {
  background-image: url("../chrome/content/skin/icons/thunderbird/forward.svg") !important;
}
#snippets-fileTemplates select {
  background-image: url("../chrome/content/skin/icons/snippets-icon.svg") !important;
/*	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale") contrast(33%) ; */
	position: relative; 
}
#snippets-fileTemplates select::before {
	position: absolute;
	top: 1em;
	right: 2em;
	opacity: 0.5;
  background-image: url("../chrome/content/skin/icons/snippets-icon.svg") !important;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
/*	*/
}

.settingsDeck > :not(.deck-selected) *,
.templateDeck > :not(.deck-selected) * {
  visibility: collapse !important;
}

.pageActive .templateDeck > .deck-selected {
  visibility: visible;
}
.pageActive #fileTemplateContainer.tabcontent-container section.active {
	visibility: visible;
}

/************************ 
 **   file templates   **
 ***********************/
#fileTemplateContainer .fileTemplateList {
	height: calc(95vh - 22em);
}

#fileTemplateContainer #templateList_snippets {
	/* extra space for label on top */
	height: calc(95vh - 24.1em);
}

select.fileTemplateList {
	font-size: 12px;
	font: menu;
}

/* do not make children visible if they are in an unselected deck */
.pageActive .deck-selected .tabcontent-container section.active {
  visibility: visible;
  padding-block: 6px;
	padding-inline: 12px 0;
}

.newGroup, .forwardGroup , .replyGroup, .aboutGroup, .snippetsGroup {
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 46px;
}
.templateDeck .newGroup {
	background-image: url("../chrome/content/skin/icons/thunderbird/new-msg.svg");
}

.templateDeck .forwardGroup {
	background-image: url("../chrome/content/skin/icons/thunderbird/forward.svg");
}

.templateDeck .replyGroup {
	background-image: url("../chrome/content/skin/icons/thunderbird/reply.svg");
}
/*
.snippetsGroup {
  background-image: url("../chrome/content/skin/icons/snippets.svg");
  background-size: 48px 48px;
  background-repeat: no-repeat !important;
}*/

.aboutGroup {
	background-image: url("../chrome/content/skin/icons/large/ST4-icon.png");
}

.pasteFocus {
	margin-left: 16px;
	padding-right: 13px;
}

.pasteFocus.hasFocus {
	background-image: url("../chrome/content/skin/icons/arrow-left.png") !important;
	background-repeat: no-repeat;
	background-position: right 5px;
}

/* editboxes for templates */
.templateBox {
  border-style: solid;
	font-family: consolas,"courier new",monospace;
	font-size: 1.1rem;
}

/* height of flexible textboxes */
.templateWrite.templateBox {
	min-height: 9em;
	height: calc(75vh - 11em) !important;
}

.fileTemplatePanel richlistbox {
  min-height: 7em;
	max-height: 50vh; /* avoid being cut off! */
}

vbox.headers {
  max-height: 10em;
}

vbox.template {
	height: 100%;
}

.template .pasteFocus {
	height: 100%;
}

.indent .templateBox {
	flex-grow: 80%;
	display: flex;
}

.buttonIcon label {
 margin-left: 0.313em !important;
}

/* ############################# SPACE BETWEEN LABEL&ICON ############################ */
/* Space between label and Icon in Caps inside tabs only over class possible! */
.NewMsgCap label,.RspMsgCap label,.FwdMsgCap label,.AboutCap label,.AccountCap label,
.AccountmanagerCap label {
  margin-left: 5px !important;
}

/* ################################################################################### */
/* ################################# About Tab CONTENT ############################### */
/* ################################################################################### */


.aboutPanel, .aboutGroup {
	max-width:70em;
}

#versionBox {
	border: 1px solid rgba(200,225,250,0.9);
	cursor: pointer !important;
	color: #EEEEEE;
	font-size: 1.2em;
	font-weight: 600;
	padding-block: 0.15em !important;
	padding-inline: 0.6em !important;
	text-align: center;
	max-height: 2em;
}

#versionBox:hover {
	color: #FFFFFF;
}

#versionBox {
	background: var(--version-background);
	border-radius: 0.6em;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.4), 2px 2px 3px rgba(0,0,0,0.2);
}
#versionBox:hover {
	box-shadow: inset 0 0 3px rgba(0,0,0,0.7), 2px 2px 3px rgba(0,0,0,0.5);;
}
#versionBox:active {
	box-shadow: inset 0 0 1px rgba(0,0,0,0.8), 2px 2px 3px rgba(0,0,0,0.5);;
}




/* ##################################### ABOUTLOGO ################################### */
/* Icon Binding inside tab only over class possible! */

.aboutHeader {
	display: flex;
}

#SmartTemplate4AboutLogo {
  background-repeat: no-repeat;
	background-position: center left;
	flex-grow: 2;
  min-width: 250px;
  min-height: 45px;
}

#SmartTemplate4AboutLogo.aboutLogo {
	background-image: url("../chrome/content/skin/logo.png") !important;
}
#SmartTemplate4AboutLogo.aboutLogoPro {
	background-image: url("../chrome/content/skin/logo-pro.png") !important;
}

/* ################################## AboutDeveloper ################################# */


.aboutPersonnel description {
  color: #ffffff; /* #ffffff for TT DeepDark Theme */
  font-weight: bold;
  line-height: 1.4em;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  text-shadow: #000000 1px 1px 1px; /* #000000 for TT DeepDark Theme */
}

.aboutHeader {
	text-align: center;
	width:100%;
}

.aboutWrapper {
	text-align: center;
	padding: 1em 3em;
}

.aboutPersonnel {
  font-size: 10pt;
  line-height: 10pt;
	border: 1px solid #CCCCCC;
	max-width: 60em; /* wenn tab min-width darf hier nicht fixiert werden */
	min-height: 8em;
	vertical-align: middle;
	padding: 1em;
}
/* ############################## SmartTemplate4AboutDesc ############################ */
.aboutContent  {
  font-size: 1.2em;
	color: var(--grayedcolor, gray);
  display: block;
  margin-top: 0.5em;
  line-height: 1.3em;
}


#globalSettingsVbox, #advancedSettingsVbox {
  overflow-y: auto;
  overflow-x: hidden;
}

#templateTools.inlineToolbar {
	justify-content: left;
}

.inlineToolbar {
	appearance: none;
	background-image: none;
	border: none;
  justify-content: center;

}

.inlineToolbar toolbarbutton {
  -moz-user-focus: normal; /* accessibility */
  min-width: unset;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* buttons permanently invisible when opened from Add-ons Manager */
.inlineToolbar  toolbarbutton:not([hidden]) {
	display: -moz-box;
}

label .flag {
	font-size: 1.5em;
	margin-inline: 0.3em;
}

.page toolbarbutton {
  /* Tb 102 */
  -moz-context-properties: fill;
  fill: currentColor;
}

/* [issue 291] */
.page toolbarbutton:not([hidden]) {
	display: flex !important;
}

.page #btnSaveTemplate,
.page toolbar[brighttext] #btnSaveTemplate {
	background-image: url("../chrome/content/skin/icons/save.svg") !important;
}
.page #btnLoadTemplate,
.page toolbar[brighttext] #btnLoadTemplate {
	background-image: url("../chrome/content/skin/icons/open.svg") !important;
}

#btnVariableSidePanel {
	display: none;
  background-image: url("../chrome/content/skin/icons/variable.svg") !important;
}

/****************************************/
/* HTML CONVERSION - TO IMPLEMENT LATER */
/****************************************/
#grpFontSettings,
#grpHideExamples,
#btnVariableSidePanel {
	display: none; 
}

#txtNameDelimiter {
	text-align: center;
	width: 2em;
}

.page .youtube,
.page toolbar[brighttext] .youtube {
	-moz-context-properties: fill, fill-opacity !important; /* make sure fill works */
	background-image: url("../chrome/content/skin/icons/youtube-svgrepo-com.svg") !important;
  fill: rgb(166,0,0) !important;
	stroke: yellow;
	background-size: 80%;
}

.youtube.iconLabelButton {
	-moz-context-properties: fill, fill-opacity !important; /* make sure fill works */
	background-size: 20px;
	fill: rgb(166,0,0) !important;
	
}

.page .youtube:hover {
	-moz-context-properties: fill, fill-opacity !important;
  fill: rgb(255,0,0) !important;
}


#identityToolBar {
  display: flex;
  flex-direction: row;
  /* fix vertical alignment problems: */
  align-items: center;
  justify-content: center;
}

#msgIdentity {
  flex-direction: row;
  flex-grow: 10; /* make this as wide as possible [issue 110] */
  flex-shrink: 1;
}

#btnAdvanced {
	background-image: url("../chrome/content/skin/icons/three-dots-svgrepo-com.svg") !important;
}

#btnCloseAdvanced {
	background-image: url("../chrome/content/skin/icons/left-svgrepo-com.svg") !important;
}


/* Pro  Tab */	
@keyframes SmartTemplate4RotateY {
  from {
	  transform: rotateY(0deg);
	}
	to {
	  transform: rotateY(359deg);
	}
}


#SmartTemplate4-Pro.free .tab-icon {
  animation: SmartTemplate4RotateY 3s linear 0.3s infinite ;
	height: 19px;
	width: 30px;
}

#SmartTemplate4-Pro.paid .tab-icon {
	animation: none !important;
}


@keyframes st4pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0.1);}}

#SmartTemplate4-Pro.expired .tab-icon,
#btnLicense {
  animation: st4pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}
#btnLicense:hover {
	animation: none;
}


/* to attract attention to Pick template button: */
@keyframes SmartTemplate4RedPulse {
  0%   { background-color: rgba(180,0,0.0.1);  }
  50%  { background-color: rgba(180,0,0,0.9);  }
  100% { background-color: rgba(180,0,0,0.1);  }
}
.pulseRed image {
  animation: SmartTemplate4RedPulse;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
  padding: 4px 6px;
  margin: -4px -6px;
  border-radius: 2px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}


/* ICON RULE TO OVERWRITE IN PRO VERSION */
/* menuitem.cmd[tagName="qfRegister"],  */
tab#SmartTemplate4-Pro {
	background-image : url('../chrome/content/skin/icons/pro-default.svg') !important;
}

tab#SmartTemplate4-Pro.paid {
	background-image : url('../chrome/content/skin/icons/pro-paid.svg') !important;
}

tab#SmartTemplate4-Pro.expired {
	background-image : url('../chrome/content/skin/icons/pro-expired.svg') !important;
}

/* vbox in a fieldset - ◀ used to highlight the target when variables are clicked  */
.vfield, .vfield vbox  {
  display: flex;
  flex-direction: column;  
	width: 100%;
}

/* make the text nicer, filling the space */
#validationResults description {
	max-width: unset !important;
	text-align: center;
	white-space: normal;
	white-space: normal balance;
}

label.plain-link::before, 
a.plain-link::before {
  content: "🔗 ";
}
label.plain-link:hover {
	text-decoration: underline;
  cursor: pointer;
}
label.plain-link:hover::before {
	text-decoration: none;
}

#fileTemplateToolbar.templateList > button {
  display: flex;
}

#fileTemplateToolbar.templateList > button:hover {
  border-radius: 6px !important;
	border-width: 2px;
  outline: 2px gray dotted !important;
}

#fileTemplateToolbar.templateList > toolbarbutton.chromeclass-toolbar-additional:hover image {
	scale: 1.3;
}
.templateList {
	display: flex;
	flex-direction: row;
}
.templateList button {
	padding-top: 1.4em;
	padding-bottom: 0.2em;
	background-position: center 7px !important;
	flex: 3 1 0 !important;
	font-size: 0.9em;
  justify-content: center;
	min-height: 4em;
}

.templateList button span {
	padding-top: 0.8em;
	white-space: nowrap;
}


.templateList #btnAdd {
	background-image:  url("../chrome/content/skin/icons/add.png");
}

.templateList #btnUpdate {
	background-image:  url("../chrome/content/skin/icons/fugue-update.png");
}

.templateList #btnRemove {
	background-image:  url("../chrome/content/skin/icons/fugue-cross.png");
}

.templateList #btnUp {
	background-image: url("../chrome/content/skin/icons/fugue-up.png");
}

.templateList #btnDown {
	background-image:  url("../chrome/content/skin/icons/fugue-down.png");
}

.templateList #btnUp[disabled="true"] { 
	background-image:  url("../chrome/content/skin/icons/fugue-up-off.png");
}
.templateList #btnDown[disabled="true"]  {
	background-image:  url("../chrome/content/skin/icons/fugue-down-off.png");
}

.templateList #btnEdit {
	background-image:  url("../chrome/content/skin/icons/pencil-field.png");
}
.templateList #btnPushUI {
	background-image:  url("../chrome/content/skin/icons/menu-arrow.png");
}

.templateLabel {
	min-width: 80px;
}

#btnPickTemplate {
	background-image: url("../chrome/content/skin/icons/file-load.png");
}

#txtTemplatePath,  #txtTemplateTitle {
	min-width: 8em;
}
#txtTemplateCategory { 
	min-width: 6em;
}

#txtSupportSubject {
  min-width: 25em;
}
#ST4-Panels {
  padding-top: 4px;
	max-height: 95vw;
}

#fileSettings {
  display: block;
}
#fileSettings > div {
  display: block;
}


#fileSettings div.settingsRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.highlight button {
	background-size: 22px;
}
.highlight button span {
	margin-left: 24px;
}

.templateFilePicker.highlight {
	background-color: var(--focusbackcolor);
}

/* focus user on which button to pick */
.templateFilePicker.highlight button * {
	color: var(--focuscolor);
	font-weight: bold;
}

#fileSettings div.settingsRow input[type="text"] {
  flex: 3;
}

#fileSettings div.settingsRow #txtTemplateCategory[type="text"] {
  flex: 1;
}

/* color problems with buttons in dark sking mode */
button {
  color: var(--button-text-color) !important; /* was inherit */
  background-color: var(--button-background-color) !important;
}

/** config buttons **/

button.helpLink,
.hasConfigEvent button.configSettings {
  -moz-context-properties: fill, stroke, stroke-opacity, fill-opacity !important;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  display: list-item inline;
  fill: currentColor;
  list-style-position: inside;
  margin: 0 3px 0 1em;  
  min-width: 24px !important;
  padding: 3px 3px 0 3px;
  width: 24px;
	color: currentColor;
}
.hasConfigEvent button.configSettings::marker {
  fill: currentColor;
	color: currentColor;
}

.hasConfigEvent button.configSettings.leading {
	margin-left: 0 !important;
}


.hasConfigEvent button.configSettings {
  list-style-image: url('../chrome/content/skin/icons/settings-simple.svg') !important;
}

button.helpLink {
  list-style-image: url('../chrome/content/skin/icons/help.svg') !important;
}

.hasConfigEvent button.configSettings:hover {
	fill: var(--configColor);
	stroke: var(--configColor);
  stroke-width: 3px;
}

.hasConfigEvent button[disabled="true"].configSettings:hover {
	filter: grayscale(70%); /* desaturate because disabled! */
}

/* fill up remaining space */
.hasConfigEvent > .spacer {
	flex: 9;
	background-color: var(--in-content-box-background);
	border: 1px transparent;
	align-self:  stretch;
}

.areaQuoteParent textarea {
	display: flex;
	min-height: 10vh;
	height: 18vh;
}

.areaTemplateParent textarea {
	display: flex;
	min-height: 10vh !important;
  height: 30vh;
}

.areaQuoteParent,
.areaTemplateParent {
	align-items: stretch;
	/*
	border-radius: 1em;
	border-color: orange;
	border-style: dotted;
	*/
	flex-direction: column;
	flex: 1 1 content;
	min-height: 4em;
}

.areaQuoteParent {
	height: 20vh;
}

.areaTemplateParent {
	height: 40vh;
}

.newGroup .areaTemplateParent {
	height: 80vh;
}

#aboutBox {
	border: 2px solid gray;
	border-radius: 1em;
}

.buttonLinks {
	justify-content: center !important;
	align-items: center;
}

