/*** common.css ***/

/** this uses rules from common-shared and layout! **/
:root {

    /* broken theming colors in Tb 150+ */
  --color-gray-05: #fafafa;
  --color-gray-10: #f4f4f5;
  --color-gray-20: #e4e4e7;
  --color-gray-20: light-dark(#ededf0, rgba(249, 249, 250, 0.05));  /* ??? */
  --color-gray-40: #a1a1aa;
  --color-gray-50: #71717a;
  --color-gray-60: #52525b;
  --color-gray-90: #18181b;

  --grey-90-a10: light-dark(rgba(12, 12, 13, 0.1), rgba(249, 249, 250, 0.1));
  --grey-90-a20: light-dark(rgba(12, 12, 13, 0.2), rgba(249, 249, 250, 0.15));
  --grey-90-a30: light-dark(rgba(12, 12, 13, 0.3), rgba(249, 249, 250, 0.2));

  --layout-background-1: light-dark(var(--color-gray-05), var(--color-gray-80));
  --layout-background-2: light-dark(var(--color-gray-10), var(--color-gray-70));
  --layout-background-3: light-dark(var(--color-gray-20), var(--color-gray-60));
  --layout-background-4: light-dark(var(--color-gray-30), var(--color-gray-50));

  --button-hover-background-color:  light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  --button-hover-background-color: light-dark(var(--layout-background-2), var(--layout-background-4));
  --button-hover-border: 1px solid  light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.6));
  --button-active-background-color: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
  --button-active-color: light-dark(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.9));
  --button-border-size: 1px; 

  --button-border-color: light-dark(var(--layout-border-1), var(--layout-border-2));
  --button-border: var(--button-border-size) solid var(--button-border-color);
  
  --in-content-button-border-color: color-mix(in srgb, currentColor 9%, transparent);
  --in-content-button-border-color-hover: color-mix(in srgb, currentColor 17%, transparent);
  --in-content-sidebar-width: auto;
  --menu-item-margin: 0 3px;
}

:root {
  @media not (prefers-contrast) {
    --in-content-box-info-background: light-dark(var(--layout-background-1), var(--layout-background-2));
    --in-content-box-info-border: light-dark(var(--layout-border-0), transparent);
    --in-content-button-background: light-dark(var(--grey-90-a10), rgba(249, 249, 250, 0.1));
    --in-content-button-background-hover: light-dark(var(--grey-90-a20), rgba(249, 249, 250, 0.15));
    --in-content-button-background-active: light-dark(var(--grey-90-a30), rgba(249, 249, 250, 0.2));
    --in-content-categories-background: var(--layout-background-2);
    --in-content-categories-border: var(--in-content-categories-background);
    --in-content-item-selected-unfocused: light-dark(var(--color-gray-20), rgba(249, 249, 250, 0.05));
    --in-content-item-hover: color-mix(in srgb, currentColor 12%, transparent);
    --in-content-item-selected: color-mix(in srgb, currentColor 20%, transparent);
    --in-content-item-selected-text: var(--in-content-page-color);
    --in-content-primary-button-background: var(--selected-item-color);
    --in-content-primary-button-background-hover: color-mix(in srgb, AccentColor 80%, black);
    --in-content-primary-button-background-active: color-mix(in srgb, AccentColor 70%, black);
    --in-content-primary-button-text-color: var(--selected-item-text-color);
    --in-content-focus-outline-color: var(--toolbar-field-focus-border-color);
    --focus-outline-color: var(--toolbar-field-focus-border-color);
  }

  @media (prefers-contrast) {
    --in-content-box-info-background: transparent;
    --in-content-box-info-border: currentColor;
    --in-content-categories-background: transparent;
    --in-content-categories-border: currentColor;
    --in-content-primary-button-background: SelectedItem;
    --in-content-primary-button-background-hover: SelectedItem;
    --in-content-primary-button-background-active: SelectedItem;
    --in-content-primary-button-text-color: SelectedItemText;
    --in-content-primary-button-text-color-active: SelectedItemText;
  }
  
  --version-background: linear-gradient(to bottom, #0380bf 0%,#006eb7 100%) !important;
}

/* GENERIC UI CONTROLS */
button {
  border: var(--button-border);
}

button:hover {
  border: var(--button-hover-border) !important;
  background-color: var(--button-hover-background-color) !important;
}

button:active {
  background-color: var(--button-active-background-color) !important;;
  color: var(--button-active-color) !important;
  border: var(--button-hover-border);
}



#categories > .category,
#sidebarcategories > .category {
  margin-inline: 6px;
  border-color: transparent !important;
}

#categories > .category[selected],
#sidebarcategories > .category[selected] {
  font-weight: 500;
}

@media not (prefers-contrast) {
  #categories > .category[selected],
  #sidebarcategories > .category[selected] {
    background-color: var(--in-content-button-background) !important;
    color: unset;
  }

  #categories[keyboard-navigation="true"]:focus-visible > .category[current],
  #sidebarcategories[keyboard-navigation="true"]:focus-visible > .category[current],
  #categories > .category:focus-visible,
  #sidebarcategories > .category:focus-visible {
    background-color: var(--in-content-item-selected) !important;
    color: var(--in-content-item-selected-text);
    outline: none;
  }
}

.showSplash, .showSplash:focus {
  color: white !important;
  background-color: #006EB7 !important; /* blue */
  background-image: var(--version-background) !important;
}
.showSplash label, .showSplash:focus label {
  color: white;
}

.showSplash:hover, .showSplash:focus:hover {
  color: black !important;
	background-color: #ffd65e !important; /* yellow */
	background-image: linear-gradient(to bottom, #fff65e 0%,#febf04 100%) !important;
}

.showSplash:hover *, .showSplash:focus:hover * {
  color: rgb(60,0,0) !important;
}

