


/**** General Layout ****/

#preferences-stack {
  display: grid;
  position: relative;
  height: 100vh;
}

#prefBox {
  grid-area: 1 / 1;
}

.pref-category-box {
  background-color: var(--in-content-categories-background);
  border-inline-end: 1px solid var(--in-content-categories-border);
  width: 18em;
}

/* Temporary styles for the supernova icons */
.iconButton,
.category-icon {
  -moz-context-properties: fill, stroke, stroke-opacity;
  fill: color-mix(in srgb, currentColor 80%, transparent);
  stroke: currentColor;
}

#categories > .category {
  appearance: none;
  border: 1px solid var(--in-content-primary-button-border-color);
  border-radius: 4px;
  cursor: default;
  line-height: 48px;
  min-height: 48px;
  color: inherit;
  margin-inline-start: 12px;
  padding-inline: 10px;
  transition: background-color 150ms;
  list-style-position: inside;
  align-items: enter;
  white-space: nowrap;
}

#catAccountTemplates {
  list-style-image: url("../chrome/content/skin/icons/settings.svg");
}

#catFileTemplates {
  list-style-image: url("../chrome/content/skin/icons/snippets-icon.svg");
}

#catSettingsGeneral {
  list-style-image: url("../chrome/content/skin/icons/global.png");
}

#catSettingsAdvanced {
  list-style-image: url("../chrome/content/skin/icons/advanced.png");
}

#catVariables {
  list-style-image: url("../chrome/content/skin/icons/variable.png");
}

#catExamples {
  list-style-image: url("../chrome/content/skin/icons/icon16x16.png");
}

#catInfo {
  list-style-image: url("../chrome/content/skin/icons/info.png");
}

#catHelp {
  list-style-image: url("../chrome/content/skin/icons/docs.svg");
}

#catSupport {
  list-style-image: url("../chrome/content/skin/icons/fg-user-support.png");
}

#catLicense {
  list-style-image: url("../chrome/content/skin/icons/pro-default.svg") !important;
}

#catLicense.paid {
  list-style-image: url("../chrome/content/skin/icons/pro-paid.svg") !important;
}

#catLicense.expired {
  list-style-image: url("../chrome/content/skin/icons/pro-expired.svg") !important;
}


#preferencesContainer {
  display: flex;
  flex: 1 1 min-content;
  padding: 0 28px 20px;
  overflow: auto;
}

.spacer[flex="1"] {
  flex: 1 !important;
}

