:root {
  --iconStroke: darkgray;
  --category-menu-width-default: 18em;
}
@media (prefers-color-scheme: dark) {
  :root {
    --iconStroke: yellow;
  }
}



/**** General Layout ****/

#preferences-stack {
  display: grid;
  position: relative;
  height: 100vh;
}

#prefBox {
  grid-area: 1 / 1;
}

.pref-category-box {
  background-color: var(--in-content-categories-background);
  border-inline-end: 1px solid var(--in-content-categories-border);
  width: var(--category-menu-width-default);
}

/* Temporary styles for the supernova icons */
.iconButton,
.iconLabelButton,
.category-icon {
  -moz-context-properties: fill, stroke, stroke-opacity;
  fill: color-mix(in srgb, currentColor 80%, transparent);
  stroke: currentColor;
}

#categories > .category,
#sidebarcategories > .category  {
  appearance: none;
  border: 1px solid var(--in-content-primary-button-border-color);
  border-radius: 4px;
  color: inherit;
  cursor: default;
  line-height: 48px;
  margin-inline: 12px;
  min-height: 48px;
  padding-inline: 34px 10px;
  list-style-type: none;
  transition: 
    background-color 150ms,
    line-height 350ms ease-in-out,
    min-height 350ms ease-in-out;
  white-space: nowrap;
}
#helpFrame {
  border: none;
  display: block;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 0.5em - var(--category-menu-width-default));
}


#categories{
  transition: margin 350ms ease-in-out;
}
#categories > .category {
  transition: margin 250ms ease-in-out;
}
fieldset {
  transition: margin 250ms ease-in-out;
}

#preferencesContainer {
  transition: padding 250ms ease-in-out;
}
#pref-category-box {
  transition: width 250ms ease-in-out;
}


#sidebarcategories > .category  {
  margin-inline: 0;
}


#catAccountTemplates {
  background-image: url("../chrome/content/skin/icons/accounts.svg");
}

#catFileTemplates {
  background-image: url("../chrome/content/skin/icons/snippets-icon.svg");
}

#catSettingsGeneral {
  background-image: url("../chrome/content/skin/icons/settings-simple.svg");
}

#catSettingsAdvanced {
  background-image: url("../chrome/content/skin/icons/settings-advanced.svg");
}

#catVariables {
  background-image: url("../chrome/content/skin/icons/variable.svg");
  stroke: blue;
/* TEST
  stroke: context-stroke !important;
  stroke: white !important;  fill: yellow !important;
*/
}

/* test svg element styling */
#catVariables * {
	stroke: red !important; /* var(--iconStroke) */
	stroke-width: 3px !important;
	fill: linear-gradient(to bottom,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%)  !important; /* test */
}

#catExamples {
  background-image: url("../chrome/content/skin/icons/templates.svg");
  stroke: white !important;
}

#catInfo { /* ABOUT */
  background-image: url("../chrome/content/skin/icons/info-new.svg");
}

#catHelp { /* FUTURE TAB: DOCUMENTATION */
  background-image: url("../chrome/content/skin/icons/docs.svg");
}

#catLicense {
  background-image: url("../chrome/content/skin/icons/pro-default.svg") !important;
}

#catLicense.paid {
  background-image: url("../chrome/content/skin/icons/pro-paid.svg") !important;
}

#catLicense.expired {
  background-image: url("../chrome/content/skin/icons/pro-expired.svg") !important;
}

#catSupport {
  background-image: url("../chrome/content/skin/icons/chat.svg");
}

/*** .sidebar-footer-list  - minor items at the bottom ***/
#catLegacyPrefs {
  background-image: url("../chrome/content/skin/icon32x32.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.sidebar-footer-list #sidebarcategories {
  box-sizing: border-box;
  padding: 1px;
}
#sidebarcategories > .category:hover {
  background-color: var(--in-content-button-background-hover);
  color: var(--in-content-button-text-color-hover);
  border-color: var(--in-content-button-border-color-hover);
}


/* remove unnecessary inner scrollbars */
#prefBox {
  overflow: hidden;
}

#preferencesContainer {
  display: flex;
  flex: 1 1 min-content;
  padding-block: 0 20px;
  padding-inline: 28px;
  overflow-x: clip;
  overflow-y: hidden;
}

#licensePane {
  height: 100vh;
  display: flex;
}

div.btnLicenseContainer {
  flex-grow: 1;
  align-content: center center;
}

div.btnLicenseContainer #btnLicense {
  max-height: 3em;
}
.templateList button.iconButton {
  min-width: 6.2em;
}

@media only screen and (max-width: 1024px)  {
  #preferencesContainer {
    padding-inline: 12px;
  }
}

@media only screen and (max-width: 800px)  {
  #preferencesContainer {
    padding-inline: 2px;
    border: 1px solid rgba(0,0,0,0.1);
  }
  #identityLabel {
    width: 24px;
    color: transparent;
  }
  #btnYouTube-accounts {
   display: none;
  }  
  #default_address_format {
    width: 60% !important;
  }
}

@media only screen and (max-width: 760px)  {
  #btnVariableSidePanel {
   display: none;
  }
  #msgIdentity {
    width:40vw;
  }
  .templateList button {
    padding-inline: 4px
  } 
  button.iconLabelButton {
    min-width: 25px;
    overflow-x: clip;
  }
  button.iconLabelButton span {
    white-space: nowrap;
    display: inline-block;
    overflow-x: clip;
    max-width: 22vw;
    min-width: 0 !important;
  }
  
  .templateList button.iconButton {
  	min-width: 6em;
  }

}

/*smaller menus (hidden labels) */
@media (max-width: 830px) {
  #categories > .category,
  #sidebarcategories > .category {
    margin-inline: 8px;
    padding-inline: 5px !important;
  }
  .prefpane {
    font-size: 0.95em;
  }
  #helpFrame {
    width: calc(100vw - 66px) !important;
  }
}

@media (max-width: 600px) {
  #categories > .category,
  #sidebarcategories > .category {
    margin-inline: 0px !important;
    padding-inline: 2px !important;
  }
  .templateList button.iconButton {
    padding-inline: 6px;
    min-width: 4em;
    overflow: hidden;
  }
  button.iconLabelButton span {
    max-width: 0;
  }
  #helpFrame {
    width: calc(100vw - 50px) !important;
  }
  
  fieldset {
    margin-block: 0;
  }  
}


@media only screen and (max-height: 600px)  {
  #categories {
    margin-top: 30px;
  }
  #preferencesContainer h2 {
    margin-block: 2px;
    text-align: center;
    font-size: 1.1em;
  }
  fieldset {
    margin-block: 0;
  }
  .buttonLinks button.text-link {
    padding-block: 0.6em !important
  }
  .btnLicenseContainer {
    height: 24px;
  }
  .aboutContent  {
    font-size: 1.1em;
  }
  .niceFont, .niceFont * {
    font-size: 1.0rem !important;
  }  
}

/* workaround for double scrollbar in examples tab */
@media only screen and (max-height: 530px)  {
  #preferencesContainer {
    overflow-y: auto; /* was scroll */
  }
}

@media only screen and (max-height: 480px)  {
  #categories {
    margin-top: 5px;
  }
  #categories > .category {
    line-height: 36px;
    min-height: 36px;
    background-position-y: 6px;
  }
  .buttonLinks button.text-link {
    padding-block: 0.3em !important
  }  
  #infoPane h2 {display:none}
  .btnLicenseContainer {
    height: 12px;
  }
  .templateList button {
    padding-inline: 2px;
  }    
  .aboutContent  {
    font-size: 1.0em;
  }  
}

#supportPane {
  height: 100vh;
}

#supportPaneContent {
  display: flex;
  min-width: 410px;
  align-content: space-between;
  flex-grow: 2;
}
  

#templatesIFrame {
	display: flex;
  height: calc(100vh - 45px);
  width: 100%;  
}

#examplesPane {
  overflow: hidden;
}


.spacer[flex="1"] {
  flex: 1 !important;
}

