:root {
  --iconStroke: darkgray;
}
@media (prefers-color-scheme: dark) {
  :root {
    --iconStroke: yellow;
  }
}



/**** General Layout ****/

#preferences-stack {
  display: grid;
  position: relative;
  height: 100vh;
}

#prefBox {
  grid-area: 1 / 1;
}

.pref-category-box {
  background-color: var(--in-content-categories-background);
  border-inline-end: 1px solid var(--in-content-categories-border);
  width: 18em;
}

/* Temporary styles for the supernova icons */
.iconButton,
.category-icon {
  -moz-context-properties: fill, stroke, stroke-opacity;
  fill: color-mix(in srgb, currentColor 80%, transparent);
  stroke: currentColor;
}

#categories > .category {
  appearance: none;
  border: 1px solid var(--in-content-primary-button-border-color);
  border-radius: 4px;
  color: inherit;
  cursor: default;
  line-height: 48px;
  margin-inline: 12px;
  min-height: 48px;
  padding-inline: 34px;
  padding-inline-end: 10px;
  list-style-type: none;
  transition: background-color 150ms;
  white-space: nowrap;
}

#catAccountTemplates {
  background-image: url("../chrome/content/skin/icons/accounts.svg");
}

#catFileTemplates {
  background-image: url("../chrome/content/skin/icons/snippets-icon.svg");
}

#catSettingsGeneral {
  background-image: url("../chrome/content/skin/icons/settings-simple.svg");
}

#catSettingsAdvanced {
  background-image: url("../chrome/content/skin/icons/settings-advanced.svg");
}

#catVariables {
  background-image: url("../chrome/content/skin/icons/variable.svg");
  stroke: blue;
/* TEST
  stroke: context-stroke !important;
  stroke: white !important;  fill: yellow !important;
*/
}

/* test svg element styling */
#catVariables * {
	stroke: red !important; /* var(--iconStroke) */
	stroke-width: 3px !important;
	fill: linear-gradient(to bottom,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%)  !important; /* test */
}

#catExamples {
  background-image: url("../chrome/content/skin/icons/templates.svg");
  stroke: white !important;
}

#catInfo { /* ABOUT */
  background-image: url("../chrome/content/skin/icons/info-new.svg");
}

#catHelp { /* FUTURE TAB: DOCUMENTATION */
  background-image: url("../chrome/content/skin/icons/docs.svg");
}

#catLicense {
  background-image: url("../chrome/content/skin/icons/pro-default.svg") !important;
}

#catLicense.paid {
  background-image: url("../chrome/content/skin/icons/pro-paid.svg") !important;
}

#catLicense.expired {
  background-image: url("../chrome/content/skin/icons/pro-expired.svg") !important;
}

#catSupport {
  background-image: url("../chrome/content/skin/icons/chat.svg");
}

/* remove unnecessary inner scrollbars */
#prefBox {
  overflow: hidden;
}

#preferencesContainer {
  display: flex;
  flex: 1 1 min-content;
  padding: 0 28px 20px;
  overflow: auto;
}

#templatesIFrame {
	display: flex;
	flex: 8 8 max-content;
  height: calc(100vh - 45px);
  width: 100%;  
}

#examplesPane {
  overflow: hidden;
}

#helpFrame {
	display: flex;
	flex: 8 8 max-content;
	min-width: 450px;
	height: 92vh;
	width: 70vw;
}


.spacer[flex="1"] {
  flex: 1 !important;
}

