
/* 
 * Used for deferred and unresolved smartTemplate variables
 *	such as %to(firstname)% when writing a new email
 *	and no "to" header exists
 */
 
 /* this element is used in HTML mode to wrap missing variables 
    attributes are
		hdr: name of the mail header
		var: full variable text, with % signs stripped - we need to encode single and double quotes!
		
		
		styling taken from project.css <code> elements
  */
	
#smarttemplate4-cleandeferred,	
#compose-toolbox > toolbar[brighttext] #smarttemplate4-cleandeferred.toolbarbutton-1 {
	list-style-image: url("chrome://smartTemplate4/content/skin/icons/st4-cleandeferred.png");
	-moz-image-region: rect(0px 24px 24px 0px);
}	


#smarttemplate4-changeTemplate,
#compose-toolbox > toolbar[brighttext] #smarttemplate4-changeTemplate.toolbarbutton-1 {
  list-style-image: url("chrome://smartTemplate4/content/skin/icons/select-template.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}



toolbar[brighttext="true"] #smarttemplate4-cleandeferred.toolbarbutton-1 {
	list-style-image: url("chrome://smartTemplate4/content/skin/icons/st4-cleandeferred-bright.png") !important;
}

#smarttemplate4-cleandeferred:hover,
#compose-toolbox > toolbar[brighttext]  #smarttemplate4-cleandeferred.toolbarbutton-1:hover { 
  -moz-image-region: rect(24px 24px 48px 0px); 
}

/* default action in context menu, also works through left click */
#SmartTemplate4-replaceDeferred * {
	font-weight: bold !important;
}

	
smarttemplate { /* green tokens */
  background: linear-gradient(to bottom,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
  border: 1px solid #bbb;
  border-radius: 0.3em;
	cursor: pointer; /* we will add event listeners later... */
  font-family: Consolas, 'Courier New', Geneva, sans-serif;
  font-size: 10pt !important;
  font-style: italic !important; /* this is just a placeholdr */
  margin: 2px 4px;  
  padding: 2px 4px;
}
 
smarttemplate.noWrite { /* pink tokens, when in write mode */
  background: linear-gradient(to bottom, rgba(239,205,236,1) 0%,rgba(223,145,218,1) 50%,rgba(215,133,209,1) 51%,rgba(230,152,224,1) 100%);
}

smarttemplate.resolved {
  background-image: none; 
	border-radius: 0;
	border-style: dotted;
	font-family: inherit;
	font-size: inherit !important;
	font-style: inherit !important;
}
smarttemplate.resolved:hover {
  background: linear-gradient(to bottom, rgba(252,234,187,0.8) 0%,rgba(252,205,77,0.8) 40%,rgba(248,181,0,0.8) 51%,rgba(251,223,147,0.8) 100%);
}

smarttemplate.inline {
	background-image: none !important;
  background: rgba(250,250,250,0.2) !important;
  border: 1px solid #606060;
  padding-top: 0;
  padding-bottom: 0;	
  text-shadow: 1px 1px 3px rgba(250,250,250,0.5);
}

/* pure css tooltips for now */
smarttemplate:hover:after{
	background: rgba(0,0,0,.8);
	border-radius: 2px;
	top: 26px;
	color: #fff;
	content: "%" attr(title) "%";
	left: 20px;
	padding: 5px 10px;
	position: relative;
	z-index: 98;
	width: auto;
}

notification[value="SmartTemplate4-license"] .notification-button[accesskey], 
xbl-notification[value="SmartTemplate4-license"] .notification-button[accesskey], 
notification[value="SmartTemplate4-proFeature"] .notification-button[accesskey], 
xbl-notification[value="SmartTemplate4-proFeature"] .notification-button[accesskey] {
	min-height: 24px;
}
