/* ############################     CONTRIBUTE BUTTON      ############################# */

button[dlgtype=extra2] {
	appearance: none;
  background-color: rgb(120,0,0) !important;
  background-image: linear-gradient(to bottom, #720001 0%, #bf0003 100%) !important;
	border: 1px solid #fff;
	color: #ffffff;
  cursor: pointer;
	font-weight: bold;
}

button[dlgtype=extra2]:hover
{
	/* margin: 1px -1px -1px 1px; */
	background: rgb(254,222,178);
}

button[dlgtype=extra2]:active
{
	/* margin: 1px -1px -1px 1px; */
	background: rgb(254,222,178);
}
