@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.NewTab,.RespondTab,.ForwardTab,
#fieldsTab, #settingsTab, #aboutTab, #templatesTab  {
  cursor: pointer;
  -moz-appearance: none !important;
}

.actionTabs > tab .tab-middle {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}
