/* special style for license button */
#SmartTemplate4-Options-goPro #btnLicense {
	position: fixed;
	top:   10px;
	right: 20px;
	max-width: 30em;
	cursor: pointer;
	outline: 1px solid rgba(0,0,0,0.0);
	transition: outline-color 1.6s ease-out, outline-width 1.2s ease;
}

#SmartTemplate4-Options-goPro #btnLicense:hover {
	animation: none !important;
	outline: 165px solid rgba(0,0,0,0.4); /* dim background on hover */
	transition: outline-color 1s ease;
}

/* validation notification */
.niceFont, 
.niceFont description, 
.niceFont button,
.niceFont button label
{
  font-family: cambria, Georgia, serif;
  font-size: 10.2pt;
}


.licenseError {
	border: 1px solid white;
	color: white !important;
	background: #A50B5E !important;
	padding: 5px;
}
.licenseWarning {
	border: 1px solid #00468C;
	color: #00468C !important;
	background: #FFD12A !important;
	padding: 5px;
}

#validationResults description {
  max-width: 420px;
}
#validationResults:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#validationStandard,
#validationPassed {
  color: rgb(0,120,0);
}

#licenseDateLabel.important {
	background-color: black;
	border: 2px solid yellow;
	border-radius: 3px;
	color: yellow;
	font-weight: bold;
	padding: 0.4em;
}

#btnStdLicense label,
#btnLicense label,
#btnDomainLicense label,
#btnEnterCode label
{
  padding-bottom: 0.6em;
  padding-top: 0.6em;
	padding-left: 1em;
	padding-right: 1em;
	max-height: 2em; /* slimmer donate button */
}

#btnStdLicense, #btnLicense, #btnEnterCode, #btnDomainLicense {
  font-family: cambria, Georgia, serif; /* see also .niceFont in quickfolders-options.css */
  font-size: 10.2pt;
	font-style: normal;
	margin: 2px 2px 2px 2px !important;
}

#btnStdLicense, #btnLicense, #btnDomainLicense {
	-moz-appearance: none;
	background-color: rgb(7, 97, 48) !important;
	background: linear-gradient(to bottom, rgba(184,211,27,1) 0%,rgba(122,166,18,1) 50%,rgba(92,138,0,1) 51%,rgba(135,181,19,1) 100%) !important;
	border: 1px solid #fff;
	border-radius: 0.4em;
	box-shadow: 3px 3px 4px -1px rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	font-weight: bold;
	transition-property: box-shadow, margin;
	transition-duration: 0.75s, 0.2s;
}

#btnStdLicense:hover,
#btnLicense:hover,
#btnDomainLicense:hover
{
	margin: 4px 0px 0px 4px !important;
	box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.8);
	background: rgb(254,222,178);
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
	box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.7);
}

#btnStdLicense {
	background: linear-gradient(to bottom, #f4ad6b 0%,#fca72f 22%,#f76d04 51%,#ec9d26 100%) !important;
}

#btnStdLicense:hover {
	background: linear-gradient(to bottom, #e2cb95 0%,#d6be68 24%,#cea51e 52%,#eded44 100%) !important;
}


#btnDomainLicense {
	background: linear-gradient(to bottom, rgb(104, 30, 154) 0%, rgb(132, 42, 216) 50%, rgb(123, 32, 202) 51%, rgb(179, 126, 232) 100%) !important;
}

#btnDomainLicense:hover {
	background: linear-gradient(to bottom, rgba(200, 86, 175, 0.9) 0%, rgba(140, 15, 106, 0.9) 48%, rgba(109, 5, 76, 0.8) 100%) !important;
}

#btnStdLicense:active,
#btnLicense:active,
#btnDomainLicense:active {
	margin: 4px 0px 0px 4px !important;
	box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.9);
	background: rgb(254,222,178);
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
}

.shilling {
	margin-right:2em;
	text-align: left;
	max-width: 600px;
}

#haveLicense, #buyBox {
	color: rgba(60, 40, 70, 0.9);
	font-size: 10pt;
	text-align: center;
	font-style: italic;
}

.buyAction td {
	padding: 3px;
	vertical-align: middle;
}


@keyframes st4pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0.1);}}

.btnLicenseContainer {
	position: absolute;
	height: 60px;
}

#btnLicense {
  animation: st4pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}
#btnLicense.upgrade {
	animation: none;
}

.licenseKey {
  font-size: 10pt;
	font-family: Consolas, Courier, monospace;
}

#licenseContainer {
	position: absolute;
}

#txtLicenseKey {
  display: block;
	height: 6.6em !important;
  min-width: 420px;  /* avoid "shrinking" too much in licenseKey only mode */
	/*! max-width: 420px; */ 
	width: 96%;
	position: relative;
  right: 8px !important;
  left: 4px !important;
}
