/* ### TOOLBAR BUTTON OVERLAY ### */

/* large enough in customize toolbar palette */
#SmartTemplate4Button.toolbarbutton-1 image.toolbarbutton-icon,
toolbar:not([iconsize="small"]) #SmartTemplate4Button image {  
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}
 
#SmartTemplate4Button,
#mail-toolbox > toolbar[brighttext] #SmartTemplate4Button.toolbarbutton-1
{
  list-style-image: url("chrome://smartTemplate4/content/skin/icons/icon24x24.png");
}

[iconsize="small"] #SmartTemplate4Button,
#mail-toolbox > toolbar[brighttext][iconsize="small"] #SmartTemplate4Button.toolbarbutton-1
{
  list-style-image: url("chrome://smartTemplate4/content/skin/icons/icon16x16.png");
}


#SmartTemplate4Button.newsflash,
#SmartTemplate4Messenger.newsflash {
  background-color: #006EB7 !important; /* blue */
  background-image: linear-gradient(to bottom, #0380bf 0%,#006eb7 100%) !important;
  color: white !important;
}
#SmartTemplate4Button.newsflash label,
#SmartTemplate4Messenger.newsflash label {
  color: rgb(255,255,255) !important;
}

#SmartTemplate4Button.newsflash:hover,
#SmartTemplate4Messenger.newsflash:hover {
	background-color: #ffd65e !important; /* yellow */
	background-image: linear-gradient(to bottom, #fff65e 0%,#febf04 100%) !important;
}
#SmartTemplate4Button.newsflash:hover label,
#SmartTemplate4Messenger.newsflash:hover label {
  color: rgb(60,0,0) !important;
}
#SmartTemplate4Button.newsflash:hover image,
#SmartTemplate4Messenger.newsflash:hover image {
  fill: rgb(60,0,0) !important;
}

/* force showing the label with news / update text */
#SmartTemplate4Button.newsflash .toolbarbutton-text,
#SmartTemplate4Messenger.newsflash .toolbarbutton-text,
#SmartTemplate4Button.alertExpired .toolbarbutton-text {
  display: inline-block !important;
}


/** POPUP MENUS **/

#smartTemplates-settings {
	list-style-image: url("chrome://smarttemplate4/content/skin/icons/settings.svg") !important;
  fill: currentColor;
}

#smartTemplates-docs {
	list-style-image: url("chrome://smarttemplate4/content/skin/icons/docs.svg") !important;
  stroke: currentColor;
}

#smartTemplates-tests {
	list-style-image: url("chrome://smarttemplate4/content/skin/icons/bug.svg") !important;
  fill: rgb(123, 4, 4);
}


/* reply buttons - see:
    https://searchfox.org/comm-esr102/source/mail/themes/shared/mail/messageHeader.css#195
    https://searchfox.org/comm-esr102/source/mail/themes/shared/mail/icons.css
  */

#smartTemplates-write-menu {
  list-style-image: var(--icon-new-mail);
}

/* reply, reply to sender */
#smartTemplates-reply-menu {
  list-style-image: var(--icon-reply);
}

#smartTemplates-forward-menu {
  list-style-image: var(--icon-forward);
}

/* future */
#smartTemplates-replyall-menu {
  list-style-image: var(--icon-reply-all);
}
#smartTemplates-replylist-menu {
  list-style-image: var(--icon-reply-list);
}

