/* New styling system, specific to Thunderbird 115 */

li[item-id="ext-smarttemplate4@thunderbird.extension"] .live-content.expired,
.expired #smartTemplates-checklicense {
  background-color: #b80015 !important; /* orange */
  background: linear-gradient(to bottom, #890219 0%,#b80015 100%) !important; 
  color: white;
}

li[item-id="ext-smarttemplate4@thunderbird.extension"] .live-content.renew,
.renew #smartTemplates-checklicense{
  background-color: #893a02 !important; /* orange */
  background: linear-gradient(to bottom, #ee570b 0%, #893a02 100%)  !important;  
  color: white;
}

li[item-id="ext-smarttemplate4@thunderbird.extension"] .live-content.newsflash {
  background-color: #0064a7 !important; /* blue */
  background-image: linear-gradient(to bottom, #0380bf 0%,#006eb7 100%) !important;
  color: white;
  
}
/* highlight news item but only if the button is highlighted as news (hasNews pref set) */
.newsflash menuitem#smartTemplates-news {
	border: 1px solid transparent !important;
	background: linear-gradient(to bottom, #0380bf 0%,#006eb7 100%) padding-box,
	            repeating-linear-gradient(-45deg, var(--lwt-text-color,black) 0, var(--lwt-text-color,black) 25%, transparent 0, transparent 50%) 0 / .6em .6em !important;
	color: white;
  font-weight: bold;
  position:relative;
  animation: smarttemplates-ants 8s linear infinite !important;
}

.newsflash menuitem#smartTemplates-news::after {
  content: url("../icons/badge-news.svg"); /* 🟠 */
  pointer-events: none;
  animation: coin-flip 2.5s infinite;
  width: 1.0em !important;
  height: 1.0em !important;
}

/* attract attention, ok for a menu item */
@keyframes coin-flip {
  0%, 20% {
    transform: rotateY(0deg);
  }
  40%, 60% {
    transform: rotateY(180deg);
  }
  80%, 100% {
    transform: rotateY(0deg);
  }
}

@keyframes glow-orange {
  0% {
    text-shadow:
      0 0 2px #ffb84d;
  }
  50% {
    text-shadow:
      0 0 2px #ffd27f,
      0 0 6px #ffb84d,
      0 0 8px #ff8c00;
  }
  100% {
    text-shadow:
      0 0 2px #ffb84d;
  }
}

/** common layout fixes for all special states **/
li[item-id="ext-smarttemplate4@thunderbird.extension"] > .live-content:where(.renew,.newsflash,.expired) {
  border-radius: var(--button-border-radius) ;
  background-clip: border-box;
  margin: 0 5px;
  border: 0px solid gray;
}

li[item-id="ext-smarttemplate4@thunderbird.extension"] .live-content.renew button {
  padding-left: 3px;
  margin-left: 0px;
  margin-right: 0px;
}

/**
 * Marching ants border
 */
#smartTemplates-checklicense.marching-ants {
	border: 1px solid transparent !important;
	background: 
    linear-gradient(to bottom, #ee570b 0%, #893a02 100%) padding-box,
    repeating-linear-gradient(-45deg, var(--lwt-text-color,black) 0, var(--lwt-text-color,black) 25%, transparent 0, transparent 50%) 0 / .6em .6em padding-box !important;
	animation: smarttemplates-ants 3s linear infinite !important;
} 

#smartTemplates-checklicense.marching-ants:hover {
  animation: smarttemplates-ants 4s linear infinite !important;
}

@keyframes smarttemplates-ants { 
  from { background-position: 0 0, 0 0; } 
  to { background-position: 0 0, 4px 4px; } 
}


/* chevron styling */
#SmartTemplate4Button:where(.expired,.renew,.newsflash)  {
  fill: white !important;
}

#SmartTemplate4Button:where(.expired, .newsflash):hover > :where(label,.button-label) {
  color: rgb(249, 235, 214) !important;
}

#SmartTemplate4Button:where(.expired, .renew, .newsflash) > :where(label, .button-label) {
  color: rgb(255,255,255) !important;
}

li[item-id="ext-smarttemplate4@thunderbird.extension"] .live-content.expired:hover {
	background-color: #6d0202 !important; 
	background-image: linear-gradient(to bottom, #6d0202 0%,#aa4e5c 100%) !important;
}

li[item-id="ext-smarttemplate4@thunderbird.extension"] .live-content.newsflash:hover {
	background-color: #6d0202 !important; 
  background-image: linear-gradient(to bottom, #02409f 0%,#004e97 100%) !important;
}

/* main icon - NEWS BADGE removed .newsflash.news-minimal*/
li[item-id="ext-smarttemplate4@thunderbird.extension"] .live-content {
  overflow: visible; /* allow the badge to overflow */
  position: relative; /* keep positioning context if needed */
}

li[item-id="ext-smarttemplate4@thunderbird.extension"] .live-content.news-minimal::after {
  content: url("../icons/badge-news.svg");  /* Unicode dot currently used "🟠" */
  position: absolute;
  top: -2px;                 
  right: -4px;               
  line-height: 1;
  display: block;
  pointer-events: none; /* don’t block clicks */
  width: calc(0.9em + 1px) !important;
  width: calc(0.9em + 1px) !important;
}


#SmartTemplate4Button:not([checked="true"]):where(.expired,.renew,.newsflash) > .button-icon {
  fill: #ffffff !important;
}

#SmartTemplate4Button:where(.expired, .newsflash):hover > .button-icon {
  fill: rgb(249, 235, 214) !important;
}

/* force visible label */
#SmartTemplate4Button:where(.expired, .renew, .newsflash) :where(.toolbarbutton-text, .button-label) {
  display: inline-block !important;
}

/* optional menu items */
#SmartTemplate4Button:not(.expired):not(.renew) #smartTemplates-checklicense {
  display: none;
}


#SmartTemplate4Button.news-minimal > .button-label {
    display: inline; /* label stays visible if needed */
}

.icons-only #SmartTemplate4Button.news-minimal.newsflash > .button-label {
    display: none !important; /* label stays visible if needed */
}

#smartTemplates-checklicense {
  list-style-image: url("chrome://smarttemplate4/content/skin/icons/info.svg") !important;
  --menuitem-icon:  url("chrome://smarttemplate4/content/skin/icons/info.svg") !important;
  fill: white;
  color: white;
}


li[item-id="ext-smarttemplate4@thunderbird.extension"] .live-content.renew:hover,
.expired #smartTemplates-checklicense:hover {
  background: linear-gradient(to bottom, #6e0315 0%,#d7831d 100%) !important; 
  color: yellow;
}