@import url('chrome://smarttemplate4/content/skin/common/license.css');
 
#smarttemplate-register {
  max-width: 850px !important;
}
label.ref {
  padding-top: 4px;
}
#email {
  min-width: 200px;
	width:auto;
}

#LicenseTerm {
  padding: 0.8em;
}

@keyframes smartTemplatesRenew {
	0% { opacity: 0.7; }
	50% { opacity: 1; }
	100% { opacity: 0.7; }
}

#featureComparison {
  background-color: #fff229;
  padding: 4px 6px;
}

#LicenseTerm.expired {
	animation: smartTemplatesRenew 3s 5s ease-in-out infinite;
	background-color: #990038; /* dark purple */
	background-image: linear-gradient(to bottom, #bf376b 0%,#990038 51%,#700029 100%); 
	color: white !important;
}
.para, .heading {
	margin-left: 12px !important;
	margin-right: 12px !important;
}
table {
  display: table;
}
tr {
  display: table-row;
}
td {
  display: table-cell;
	-moz-box-align: start;
	-moz-box-orient: vertical;
	-moz-box-pack: justify;
  vertical-align: top;
}

#thePage, #buyBox {
  background-color: #ffffff;
	-moz-box-align: start;
	border: 1px solid rgba(88,88,88,0.4);
	margin: 1em;
}

#thePage {
	box-shadow: 2px 2px 4px rgba(80, 80, 80, 0.4);
}

#buyBox {
	box-shadow: inset 2px 2px 4px rgba(80, 80, 80, 0.4);
	background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
	padding: 6px 10px 4px 0 !important;
}


/* main font - reflect in order  button */
.para {
  font-family: Cambria, Georgia, serif;
  font-size: 10.2pt;
	color: rgb(0, 0, 0);
}

.productcontainer {
  background-color: rgb(195,220,22);
	margin: 12px;
}

.product:before {
  content: url('chrome://smartTemplate4/content/skin/icon32x32.png'); 
  margin-right: 0.3em;
  vertical-align: middle;
  display: inline-block; /* added 02.09.12 to center font in box */
}

.product {
  background-color: #405080;
  background-clip: text;
  border-radius: 2px;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.23);
  color: transparent;
  display: inline-flex !important;
  flex-direction: column;
  flex-flow: row;
  flex-wrap: nowrap;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.4);
  font-family: calibri, arial, sans-serif;
  font-size: 20pt;
  font-weight: 900;
  height: auto;
  padding: 0.3em 0.4em 0.2em 0.3em;
  white-space: nowrap;
}


.para {
  margin: 0.5em 0;
	text-align: justify;
}
.link {
  cursor: pointer;
	text-decoration: underline;
}

#compLink {
  display: inline-block;
  color: rgb(160,0,0);
  font-weight: bold;
  text-decoration: underline;
}
#compLink:hover {
  color: rgb(200,0,0);
}

.heading {
  background: none;
  border: 1px solid rgba(140,140,140,0.4) !important;
	border-radius: 0px;
  box-shadow: inset 0px 0px 4px 1px rgba(160,160,160,0.2);
	color: rgb(60, 60, 60);
  display: inline-block;
  font-family: calibri, arial, sans-serif;
  font-size: 13pt;
  font-weight: 600;
  font-size: 1.2em;
	margin-top: 10px;
  padding: 0.4em 1em 0.4em 1em;
  text-shadow: 1px 1px 2px #FFF;
  vertical-align: middle;
	white-space: nowrap
}
.form {
	margin: 0 1em;
}

#referrer[collapsed=true] {
  display: none;
}

#licenseTermSwitcher:hover {
  outline: 2px  dashed rgba(60,60,60,0.2);
  background: repeating-linear-gradient(
    135deg,
    #606dbc01,
    #606dbc01 6px,
    #46529812 6px,
    #46529812 12px
  );  
}
#toggleSwitchLicenseTerms {
  appearance: none;
  border-radius: 4px;
  background-color: rgb(80,80,80) !important;
  color: rgb(220,220,220);
  padding-inline: 4px;
  margin-inline: auto;
  margin-bottom: 0.8em;
}
#licenseTerms[collapsed], #buyBox[collapsed], .form[collapsed] {
  display: none;
}
#licenseTermSwitcher:hover #toggleSwitchLicenseTerms {
  background-color: rgb(40,40,40) !important;
  color: rgb(240,240,240);
}
#toggleSwitchLicenseTerms.continue {
  background-color: rgb(120,20,20) !important;
}
#licenseTermSwitcher:hover #toggleSwitchLicenseTerms.continue {
  background-color: rgb(175,20,20) !important;
}
