/** POPUP MENUS **/
menupopup[id="smarttemplate4@thunderbird.extension"] menu,
menupopup[id="smarttemplate4@thunderbird.extension"] menuitem {
  -moz-context-properties: fill, fill-opacity, stroke;
}

#smartTemplates-settings {
	list-style-image: url("chrome://smarttemplate4/content/skin/icons/settings.svg") !important;
  fill: currentColor;
  -moz-context-properties: fill, fill-opacity, stroke;
}

#smartTemplates-settings-new {
	list-style-image: url("chrome://smarttemplate4/content/skin/icons/settings.svg") !important;
  fill: red;
  -moz-context-properties: fill, fill-opacity, stroke;  
}
#smartTemplates-headerMenuAPI, #smartTemplates-MruMenuAPI {
  list-style-image: url("chrome://smarttemplate4/content/skin/icons/webex.png") !important;
}

#smartTemplates-docs {
	list-style-image: url("chrome://smarttemplate4/content/skin/icons/docs.svg") !important;
  stroke: currentColor;
  -moz-context-properties: fill, fill-opacity, stroke;  
}

#smartTemplates-tests {
	list-style-image: url("chrome://smarttemplate4/content/skin/icons/bug.svg") !important;
  fill: rgb(123, 4, 4);
}

#smartTemplates-news {
	list-style-image: url("chrome://smarttemplate4/content/skin/icons/new.svg") !important;
}

/* reply buttons - see:
    https://searchfox.org/comm-esr102/source/mail/themes/shared/mail/messageHeader.css#195
    https://searchfox.org/comm-esr102/source/mail/themes/shared/mail/icons.css
  */

#smartTemplates-write-menu {
  list-style-image: var(--icon-new-mail);
  fill: color-mix(in srgb, currentColor 20%, transparent) !important;
  -moz-context-properties: fill, fill-opacity, stroke;
}

/* reply, reply to sender */
#smartTemplates-reply-menu {
  list-style-image: var(--icon-reply);
  -moz-context-properties: fill, fill-opacity, stroke;
}

#smartTemplates-reply-all-menu {
  list-style-image: var(--icon-reply-all);
  -moz-context-properties: fill, fill-opacity, stroke;
}

#smartTemplates-reply-list-menu {
  list-style-image: var(--icon-reply-list);
  -moz-context-properties: fill, fill-opacity, stroke;
}


#smartTemplates-forward-menu {
  list-style-image: var(--icon-forward);
  -moz-context-properties: fill, fill-opacity, stroke;
}

/* future */
#smartTemplates-replyall-menu {
  list-style-image: var(--icon-reply-all);
  -moz-context-properties: fill, fill-opacity, stroke;
}
#smartTemplates-replylist-menu {
  list-style-image: var(--icon-reply-list);
}


/* test */
#SmartTemplates-reply {
  list-style-image: var(--icon-reply);
  -moz-context-properties: fill, fill-opacity, stroke;
}

#SmartTemplates-forward {
  list-style-image: var(--icon-forward), linear-gradient(to left bottom, red, blue);
  -moz-context-properties: fill, fill-opacity, stroke;
}


menuitem.st4templatePicker {
	list-style-image : url('chrome://smartTemplate4/content/skin/icons/template-load.png') !important;
}

menuitem.st4template_entry:hover, menuitem.st-mru:hover {
	list-style-image : url('chrome://smartTemplate4/content/skin/icons/icon24x24.png') !important;
}

