/* ----------------------------------------------------------------------------------- */
/* ---------------------------- create by Marky Mark DE ------------------------------ */
/* ---------------------------- last edit at 06/18/2012 ------------------------------ */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------- Changelog ------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* 1.0.0: new formatting all content over css */
/* some formating works only as class e.g. inside an Tab which changes */
/* the content by switching another Identity, as ID it lost by change the formate */
/* ----------------------------------------------------------------------------------- */

/* ################################################################################### */
/* ############################ MENUBAR & RIGHTCLICK MENU ############################ */
/* ################################################################################### */


/* ################################## ICON BINDINGS ################################## */

/* ################################################################################### */
/* ###################################### GUI ######################################## */
/* ################################################################################### */

/* ############################## SELECTED IDENTITY ################################## */
/* or #SmartTemplate_prefDialog .identity-menulist */



/* ################################################################################### */
/* ################################ STATUSBAR OVERLAY ################################ */
/* ################################################################################### */

.statusbarpanel-iconic-text {
  font-weight: bold;
  font-size: 10pt !important;
}

/* ############################### HOVER,ACTIVE & FOCUS ############################## */
.statusbarpanel-iconic-text:hover {
  cursor: pointer;
}

/* ############################ SPACE BETWEEN LABEL&ICON ############################# */
.statusbarpanel-iconic-text label {
  margin-right: 5px !important;
}

.btnLicenseContainer {
	height: 65px !important;
}




