.testversion {
  box-shadow: inset 0 0 10px #000000;
  padding: 1em;
  font-style: italic;
  background-color: rgb(0,0,90); /* dark blue */
}

.testversion p {
  background-color: rgb(0,0,90); /* dark blue */
  color: yellow !important;
  font-weight: bold;
}

#innerwrapper {
  position: relative;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
}

/* make a nice watermark behind these */
#innerwrapper p,
#innerwrapper ul,
#innerwrapper li,
#innerwrapper span {
  background-color: transparent;
}

/* pseudo element to achieve background opacity */
#innerwrapper:before {
  content: ' ';
  display: block;
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  background-image: url("../chrome/content/skin/icon128x128.png");
  background-position: top right; 
  background-repeat: no-repeat; 
  background-size: 10em;
  margin-left: -10%;
  height: 40%;
  width: 100%;
  pointer-events: none;
}

.importantInfo a
 {
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  color: orange;
  font-weight: bold;
  text-decoration: underline;
}

.importantInfo a:hover {
  color: yellow;
}


ul.actions {
  
}

.actionlinks {
  text-align: center;
}

.actionlinks a {
  background-color: darkred !important;
  box-shadow: 5px 5px 5px rgba(50,50,50,0.5);
  color: white !important;
  font-weight: normal !important;
  text-decoration: none !important;
  padding: 5px 8px;
  cursor: pointer;
}

.actionlinks div {
  background-color: darkred;
  box-shadow: 5px 5px 5px rgba(50,50,50,0.5);
  color: white;
  padding: 5px 8px;
}

.actionlinks a:hover {
  background-image: linear-gradient(to bottom, #6d0019 0%,#8f0222 34%,#e20425 100%);
  color: lightyellow !important;
}

.actionlinks a:active {
  background-image: linear-gradient(to bottom, #633b00 0%,#750202 34%,#ef8204 100%);
  color: orange !important;
}

.actionlinks div:active {
  background-image: linear-gradient(to bottom, #633b00 0%,#750202 34%,#ef8204 100%);
}

ul.actions *[collapsed=true],
.actionlinks a[collapsed=true],
p[collapsed=true],
div[collapsed=true],
h2[collapsed=true],
img[collapsed=true],
canvas[collapsed=true] 
{
  visibility: collapse;
  display :none;
}

/* sales and other important announcements */
.importantInfo {
  background-color: rgba(0,0,0,0.9);
  color: white;
}
#changesList {
  background-color: transparent;
}

.importantInfo a {
  background-color: transparent;
  color: lightyellow;
  text-decoration: underline;
  cursor: pointer;
}

.importantInfo p, 
.importantInfo ul, 
.importantInfo li {
  color: white;
}

.importantInfo p b,
.importantInfo li b {
  color: yellow !important;
  background-color: transparent;
}

#new-licensing.announcement {
  background-color: rgba(0,0,50,0.9); 
  margin-bottom: 1.2em;
}

#specialBox,
.announcement {
  border-radius: 6px;
  margin-left: -1em;
  margin-right: -1em;
  padding: 0.1em 1em;
}

#specialBox h2,
#new-licensing h2   {
  background: none !important;
  margin-top: 16px;
  text-shadow:
     -1px -1px 0 #EEE,  
      1px -1px 0 #EEE,
      -1px 1px 0 #EEE,
       1px 1px 0 #EEE !important;
  
}

.specialOffer .bargainIcon {
  animation: border-pulsate 3s ease infinite;  
  background: transparent !important;
  cursor: pointer;
  float: right;
  position: relative;
  right: -3em;
  top: -3em;
  transition: transform 0.5s ease;
  border: 15px solid rgba(60, 60, 90, 0.6);
  background-color: rgba(60, 60, 90, 0.6);
  border-radius: 95px;
  margin-left: -95px; /* avoid pushing the text to the left! */
  z-index: 10000;
}

@keyframes border-pulsate {
  0%   { background-color: rgba(60, 60, 90, 0.6); border-color: rgba(60, 60, 90, 0.2); }
  50%  { background-color: rgba(60, 60, 90, 0);   border-color: rgba(60, 60, 90, 0); }
  100% { background-color: rgba(60, 60, 90, 0.6); border-color: rgba(60, 60, 90, 0.2); }
}

.specialOffer .bargainIcon:hover {
  transform: rotate(25deg);  
  animation: none;
  border-color: transparent;
  background-color: transparent;
}

code {
  background: linear-gradient(to bottom,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%);
  border: 1px solid #bbb;
  border-radius: 0.3em;
  margin: 2px 4px 2px 0px;
  cursor: pointer;
  display: inline-block;
  font-family: Consolas, 'Courier New', Geneva, sans-serif;
  font-size: 10pt !important;
  padding: 2px 4px;
}



#specialBox #standardLicense,
#specialBox .specialOffer {
  background: transparent !important;
}

#purchaseLicenseListItem { /* test */
/*
  background-color: lightyellow;
  color: rgb(120,0,0);
  */
}


body, body * {
  background-color: white;
  color: rgb(20,15,05);
}

body p, body li {
  background-color: white;
  color: rgb(20,15,05);
  font-size: 12pt;
}

.versionnumber {
  color: darkblue;
}

/* animation */
#gimmick {
    display:block;
    pointer-events:none;
    position: absolute;
    top:0;
    left:0;
    opacity: 0.13;
}

.psa {
	background: rgba(20,20,20,0.8) !important;
	color: rgb(240,240,240) !important;
  box-shadow: inset 4px 4px 3px rgba(20,20,20,0.3);
  margin: 1em 0;
  padding: 0.4em 1em;  
}

.psa .actionlinks a {
  border: 1px solid rgba(255,255,255,0.9);
}



/*
  https://designshack.net/articles/css/inner-shadows-in-css-images-text-and-beyond/
*/


h1, h2, h3, h4 {
  /* color: #1a566d; */
  font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
  text-align: center;
  color: rgba(20,30,50,0.6);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  
  text-shadow:
       3px 3px 0 #EEE,
     -1px -1px 0 #EEE,  
      1px -1px 0 #EEE,
      -1px 1px 0 #EEE,
       1px 1px 0 #EEE;
/*       
  
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
          */
          
  text-stroke: 1px lightblue;
}

h1 {
  font-size: 25pt;
}

h2 {
  font-size: 20pt;
  font-weight: normal;
}

h3 {
  font-size: 16pt;
}