@import url("chrome://smarttemplate4/skin/common/messageWindow.css");

#innerMessage {
	background: linear-gradient(to bottom, rgba(226,226,226,0.7) 0%, rgba(219,219,219,0.7) 50%, rgba(209,209,209,0.7) 51%, rgba(254,254,254,0.7) 100%);
	border-radius: 1em;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
